In [1]:
import requests 
import json
import sys
import cv2
import matplotlib.pyplot as plt
%matplotlib inline
import pytesseract
import numpy as np
import pandas as pd
import datetime
from PIL import Image
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract'

In [118]:
def doubleDigit(num):
    if num < 10 :
        return '0'+str(num)
    else:
        return str(num)
    
videoId = '571178493'
clientId = 'vhggq5l1jefc8dtfza2phfc6ih69gs'

chat = []
time = []
user = []

nextCursor = ''

params = {}
params['client_id'] = clientId

i = 0
while True :
        
    if i == 0 :
        URL = 'https://api.twitch.tv/v5/videos/'+videoId+'/comments?content_offset_seconds=0' 
        i += 1
    else:
        URL = 'https://api.twitch.tv/v5/videos/'+videoId+'/comments?cursor=' 
        URL +=  nextCursor   


    response = requests.get(URL, params=params)

    j = json.loads(response.text)

    for k in range(0,len(j["comments"])):
        timer = j["comments"][k]["content_offset_seconds"]

        timeMinute = int(timer/60)

        if timeMinute >= 60 :
            timeHour = int(timeMinute/60)
            timeMinute %= 60
        else :
            timeHour = int(timeMinute/60)

        timeSec = int(timer%60)

        time.append(doubleDigit(timeHour)+':'+doubleDigit(timeMinute)+':'+doubleDigit(timeSec))
        user.append(j["comments"][k]["commenter"]["display_name"])
        chat.append(j["comments"][k]["message"]["body"])
    if '_next' not in j:
        break

    nextCursor = j["_next"]


f = open(videoId+".txt", 'wt', encoding="utf-8")

for x in range(0, len(time)): 
        f.write('[')
        f.write(str(time[x]))
        f.write(']')
        f.write(' ')
        f.write('<')
        f.write(str(user[x]))
        f.write('>')
        f.write(' ')
        f.write(str(chat[x]))
        f.write("\n")

f.close()

In [119]:
time

['00:00:04',
 '00:00:05',
 '00:00:07',
 '00:00:07',
 '00:00:08',
 '00:00:09',
 '00:00:12',
 '00:00:19',
 '00:00:19',
 '00:00:21',
 '00:00:34',
 '00:00:34',
 '00:00:39',
 '00:00:41',
 '00:00:42',
 '00:00:45',
 '00:00:47',
 '00:00:47',
 '00:00:48',
 '00:00:49',
 '00:00:51',
 '00:00:52',
 '00:00:55',
 '00:00:56',
 '00:00:58',
 '00:01:01',
 '00:01:02',
 '00:01:02',
 '00:01:03',
 '00:01:06',
 '00:01:06',
 '00:01:07',
 '00:01:08',
 '00:01:08',
 '00:01:09',
 '00:01:11',
 '00:01:12',
 '00:01:12',
 '00:01:13',
 '00:01:14',
 '00:01:14',
 '00:01:14',
 '00:01:15',
 '00:01:15',
 '00:01:16',
 '00:01:16',
 '00:01:16',
 '00:01:18',
 '00:01:19',
 '00:01:19',
 '00:01:20',
 '00:01:20',
 '00:01:20',
 '00:01:21',
 '00:01:21',
 '00:01:22',
 '00:01:22',
 '00:01:22',
 '00:01:22',
 '00:01:23',
 '00:01:24',
 '00:01:26',
 '00:01:26',
 '00:01:26',
 '00:01:26',
 '00:01:28',
 '00:01:28',
 '00:01:28',
 '00:01:29',
 '00:01:29',
 '00:01:30',
 '00:01:30',
 '00:01:30',
 '00:01:31',
 '00:01:32',
 '00:01:33',
 '00:01:33',
 '00:01:33',
 '00:01:33',
 '00:01:34',
 '00:01:34',
 '00:01:37',
 '00:01:37',
 '00:01:37',
 '00:01:38',
 '00:01:38',
 '00:01:38',
 '00:01:39',
 '00:01:39',
 '00:01:40',
 '00:01:41',
 '00:01:41',
 '00:01:43',
 '00:01:43',
 '00:01:45',
 '00:01:45',
 '00:01:45',
 '00:01:46',
 '00:01:46',
 '00:01:46',
 '00:01:48',
 '00:01:48',
 '00:01:48',
 '00:01:48',
 '00:01:48',
 '00:01:49',
 '00:01:49',
 '00:01:51',
 '00:01:51',
 '00:01:53',
 '00:01:53',
 '00:01:53',
 '00:01:54',
 '00:01:54',
 '00:01:54',
 '00:01:54',
 '00:01:54',
 '00:01:54',
 '00:01:55',
 '00:01:56',
 '00:01:56',
 '00:01:57',
 '00:01:58',
 '00:01:59',
 '00:01:59',
 '00:01:59',
 '00:02:00',
 '00:02:01',
 '00:02:02',
 '00:02:02',
 '00:02:03',
 '00:02:04',
 '00:02:05',
 '00:02:06',
 '00:02:06',
 '00:02:07',
 '00:02:07',
 '00:02:07',
 '00:02:08',
 '00:02:08',
 '00:02:08',
 '00:02:10',
 '00:02:10',
 '00:02:11',
 '00:02:11',
 '00:02:11',
 '00:02:13',
 '00:02:15',
 '00:02:15',
 '00:02:15',
 '00:02:15',
 '00:02:16',
 '00:02:16',
 '00:02:16',
 '00:02:17',
 '00:02:18',
 '00:02:19',
 '00:02:19',
 '00:02:19',
 '00:02:20',
 '00:02:20',
 '00:02:20',
 '00:02:20',
 '00:02:21',
 '00:02:22',
 '00:02:22',
 '00:02:22',
 '00:02:22',
 '00:02:22',
 '00:02:22',
 '00:02:24',
 '00:02:24',
 '00:02:24',
 '00:02:25',
 '00:02:25',
 '00:02:25',
 '00:02:25',
 '00:02:26',
 '00:02:27',
 '00:02:28',
 '00:02:28',
 '00:02:28',
 '00:02:28',
 '00:02:28',
 '00:02:28',
 '00:02:28',
 '00:02:29',
 '00:02:29',
 '00:02:29',
 '00:02:30',
 '00:02:31',
 '00:02:31',
 '00:02:31',
 '00:02:31',
 '00:02:33',
 '00:02:33',
 '00:02:34',
 '00:02:35',
 '00:02:35',
 '00:02:38',
 '00:02:39',
 '00:02:39',
 '00:02:40',
 '00:02:40',
 '00:02:40',
 '00:02:41',
 '00:02:41',
 '00:02:41',
 '00:02:42',
 '00:02:42',
 '00:02:42',
 '00:02:42',
 '00:02:42',
 '00:02:42',
 '00:02:43',
 '00:02:43',
 '00:02:43',
 '00:02:43',
 '00:02:44',
 '00:02:44',
 '00:02:45',
 '00:02:45',
 '00:02:45',
 '00:02:45',
 '00:02:47',
 '00:02:48',
 '00:02:48',
 '00:02:48',
 '00:02:48',
 '00:02:48',
 '00:02:49',
 '00:02:49',
 '00:02:49',
 '00:02:49',
 '00:02:49',
 '00:02:50',
 '00:02:50',
 '00:02:50',
 '00:02:50',
 '00:02:50',
 '00:02:50',
 '00:02:51',
 '00:02:52',
 '00:02:52',
 '00:02:53',
 '00:02:53',
 '00:02:53',
 '00:02:54',
 '00:02:54',
 '00:02:55',
 '00:02:55',
 '00:02:56',
 '00:02:56',
 '00:02:57',
 '00:02:57',
 '00:02:57',
 '00:02:58',
 '00:02:58',
 '00:02:59',
 '00:02:59',
 '00:02:59',
 '00:02:59',
 '00:03:00',
 '00:03:00',
 '00:03:00',
 '00:03:01',
 '00:03:01',
 '00:03:02',
 '00:03:02',
 '00:03:03',
 '00:03:03',
 '00:03:03',
 '00:03:03',
 '00:03:04',
 '00:03:04',
 '00:03:04',
 '00:03:04',
 '00:03:05',
 '00:03:05',
 '00:03:06',
 '00:03:06',
 '00:03:06',
 '00:03:07',
 '00:03:07',
 '00:03:07',
 '00:03:08',
 '00:03:08',
 '00:03:08',
 '00:03:08',
 '00:03:08',
 '00:03:09',
 '00:03:10',
 '00:03:10',
 '00:03:10',
 '00:03:11',
 '00:03:11',
 '00:03:11',
 '00:03:11',
 '00:03:12',
 '00:03:12',
 '00:03:13',
 '00:03:13',
 '00:03:13',
 '00:03:14',
 '00:03:14',
 '00:03:14',
 '00:03:15',
 '00:03:15',
 '00:03:15',
 '00:03:15',
 '00:03:16',
 '00:03:16',
 '00:03:16',
 '00:03:17',
 '00:03:17',
 '00:03:17',
 '00:03:17',
 '00:03:17',
 '00:03:18',
 '00:03:18',
 '00:03:18',
 '00:03:18',
 '00:03:19',
 '00:03:19',
 '00:03:19',
 '00:03:20',
 '00:03:20',
 '00:03:20',
 '00:03:21',
 '00:03:21',
 '00:03:21',
 '00:03:21',
 '00:03:21',
 '00:03:21',
 '00:03:22',
 '00:03:22',
 '00:03:23',
 '00:03:23',
 '00:03:23',
 '00:03:23',
 '00:03:23',
 '00:03:23',
 '00:03:23',
 '00:03:23',
 '00:03:24',
 '00:03:24',
 '00:03:24',
 '00:03:25',
 '00:03:25',
 '00:03:25',
 '00:03:25',
 '00:03:25',
 '00:03:26',
 '00:03:26',
 '00:03:27',
 '00:03:27',
 '00:03:28',
 '00:03:28',
 '00:03:28',
 '00:03:29',
 '00:03:29',
 '00:03:30',
 '00:03:30',
 '00:03:30',
 '00:03:31',
 '00:03:32',
 '00:03:33',
 '00:03:33',
 '00:03:33',
 '00:03:33',
 '00:03:34',
 '00:03:34',
 '00:03:35',
 '00:03:35',
 '00:03:35',
 '00:03:35',
 '00:03:36',
 '00:03:36',
 '00:03:36',
 '00:03:36',
 '00:03:36',
 '00:03:37',
 '00:03:37',
 '00:03:37',
 '00:03:37',
 '00:03:37',
 '00:03:38',
 '00:03:39',
 '00:03:39',
 '00:03:39',
 '00:03:39',
 '00:03:39',
 '00:03:39',
 '00:03:39',
 '00:03:39',
 '00:03:40',
 '00:03:40',
 '00:03:40',
 '00:03:40',
 '00:03:40',
 '00:03:41',
 '00:03:41',
 '00:03:41',
 '00:03:42',
 '00:03:42',
 '00:03:42',
 '00:03:43',
 '00:03:43',
 '00:03:43',
 '00:03:44',
 '00:03:44',
 '00:03:44',
 '00:03:44',
 '00:03:46',
 '00:03:46',
 '00:03:46',
 '00:03:46',
 '00:03:46',
 '00:03:46',
 '00:03:46',
 '00:03:46',
 '00:03:47',
 '00:03:47',
 '00:03:47',
 '00:03:47',
 '00:03:47',
 '00:03:47',
 '00:03:48',
 '00:03:48',
 '00:03:49',
 '00:03:50',
 '00:03:50',
 '00:03:50',
 '00:03:51',
 '00:03:51',
 '00:03:51',
 '00:03:51',
 '00:03:51',
 '00:03:52',
 '00:03:53',
 '00:03:53',
 '00:03:53',
 '00:03:54',
 '00:03:54',
 '00:03:54',
 '00:03:55',
 '00:03:55',
 '00:03:55',
 '00:03:55',
 '00:03:56',
 '00:03:56',
 '00:03:56',
 '00:03:56',
 '00:03:56',
 '00:03:56',
 '00:03:56',
 '00:03:57',
 '00:03:58',
 '00:03:58',
 '00:03:59',
 '00:03:59',
 '00:03:59',
 '00:04:00',
 '00:04:00',
 '00:04:00',
 '00:04:00',
 '00:04:00',
 '00:04:01',
 '00:04:02',
 '00:04:02',
 '00:04:02',
 '00:04:02',
 '00:04:02',
 '00:04:02',
 '00:04:03',
 '00:04:04',
 '00:04:04',
 '00:04:05',
 '00:04:07',
 '00:04:07',
 '00:04:07',
 '00:04:08',
 '00:04:08',
 '00:04:08',
 '00:04:09',
 '00:04:09',
 '00:04:09',
 '00:04:09',
 '00:04:09',
 '00:04:09',
 '00:04:10',
 '00:04:10',
 '00:04:10',
 '00:04:11',
 '00:04:11',
 '00:04:12',
 '00:04:12',
 '00:04:13',
 '00:04:13',
 '00:04:13',
 '00:04:13',
 '00:04:14',
 '00:04:14',
 '00:04:14',
 '00:04:14',
 '00:04:15',
 '00:04:15',
 '00:04:16',
 '00:04:17',
 '00:04:17',
 '00:04:18',
 '00:04:18',
 '00:04:19',
 '00:04:19',
 '00:04:20',
 '00:04:21',
 '00:04:21',
 '00:04:21',
 '00:04:22',
 '00:04:22',
 '00:04:22',
 '00:04:22',
 '00:04:23',
 '00:04:24',
 '00:04:24',
 '00:04:24',
 '00:04:24',
 '00:04:25',
 '00:04:25',
 '00:04:25',
 '00:04:25',
 '00:04:25',
 '00:04:26',
 '00:04:26',
 '00:04:26',
 '00:04:26',
 '00:04:28',
 '00:04:28',
 '00:04:28',
 '00:04:29',
 '00:04:29',
 '00:04:30',
 '00:04:31',
 '00:04:32',
 '00:04:33',
 '00:04:33',
 '00:04:33',
 '00:04:34',
 '00:04:34',
 '00:04:35',
 '00:04:35',
 '00:04:35',
 '00:04:35',
 '00:04:35',
 '00:04:36',
 '00:04:36',
 '00:04:36',
 '00:04:36',
 '00:04:37',
 '00:04:37',
 '00:04:37',
 '00:04:37',
 '00:04:38',
 '00:04:38',
 '00:04:38',
 '00:04:39',
 '00:04:39',
 '00:04:40',
 '00:04:41',
 '00:04:41',
 '00:04:41',
 '00:04:41',
 '00:04:42',
 '00:04:42',
 '00:04:42',
 '00:04:45',
 '00:04:45',
 '00:04:46',
 '00:04:46',
 '00:04:46',
 '00:04:46',
 '00:04:46',
 '00:04:46',
 '00:04:47',
 '00:04:47',
 '00:04:47',
 '00:04:47',
 '00:04:47',
 '00:04:48',
 '00:04:49',
 '00:04:49',
 '00:04:49',
 '00:04:49',
 '00:04:50',
 '00:04:50',
 '00:04:50',
 '00:04:50',
 '00:04:50',
 '00:04:51',
 '00:04:52',
 '00:04:52',
 '00:04:52',
 '00:04:53',
 '00:04:53',
 '00:04:53',
 '00:04:54',
 '00:04:55',
 '00:04:56',
 '00:04:56',
 '00:04:56',
 '00:04:58',
 '00:04:58',
 '00:04:58',
 '00:04:59',
 '00:04:59',
 '00:04:59',
 '00:05:00',
 '00:05:00',
 '00:05:00',
 '00:05:00',
 '00:05:01',
 '00:05:02',
 '00:05:02',
 '00:05:02',
 '00:05:03',
 '00:05:03',
 '00:05:03',
 '00:05:04',
 '00:05:04',
 '00:05:04',
 '00:05:04',
 '00:05:04',
 '00:05:05',
 '00:05:05',
 '00:05:06',
 '00:05:07',
 '00:05:07',
 '00:05:08',
 '00:05:08',
 '00:05:09',
 '00:05:09',
 '00:05:09',
 '00:05:10',
 '00:05:11',
 '00:05:11',
 '00:05:11',
 '00:05:11',
 '00:05:11',
 '00:05:12',
 '00:05:12',
 '00:05:13',
 '00:05:13',
 '00:05:13',
 '00:05:14',
 '00:05:14',
 '00:05:14',
 '00:05:14',
 '00:05:15',
 '00:05:15',
 '00:05:16',
 '00:05:17',
 '00:05:17',
 '00:05:17',
 '00:05:19',
 '00:05:19',
 '00:05:19',
 '00:05:19',
 '00:05:19',
 '00:05:19',
 '00:05:19',
 '00:05:20',
 '00:05:21',
 '00:05:22',
 '00:05:22',
 '00:05:22',
 '00:05:22',
 '00:05:23',
 '00:05:23',
 '00:05:23',
 '00:05:23',
 '00:05:23',
 '00:05:23',
 '00:05:24',
 '00:05:24',
 '00:05:25',
 '00:05:25',
 '00:05:26',
 '00:05:26',
 '00:05:27',
 '00:05:28',
 '00:05:28',
 '00:05:29',
 '00:05:29',
 '00:05:29',
 '00:05:30',
 '00:05:30',
 '00:05:30',
 '00:05:31',
 '00:05:31',
 '00:05:31',
 '00:05:31',
 '00:05:32',
 '00:05:33',
 '00:05:33',
 '00:05:33',
 '00:05:34',
 '00:05:34',
 '00:05:35',
 '00:05:35',
 '00:05:35',
 '00:05:35',
 '00:05:36',
 '00:05:36',
 '00:05:36',
 '00:05:38',
 '00:05:38',
 '00:05:38',
 '00:05:38',
 '00:05:39',
 '00:05:39',
 '00:05:39',
 '00:05:40',
 '00:05:40',
 '00:05:40',
 '00:05:41',
 '00:05:42',
 '00:05:42',
 '00:05:43',
 '00:05:43',
 '00:05:44',
 '00:05:45',
 '00:05:45',
 '00:05:45',
 '00:05:45',
 '00:05:45',
 '00:05:45',
 '00:05:46',
 '00:05:46',
 '00:05:47',
 '00:05:47',
 '00:05:47',
 '00:05:48',
 '00:05:49',
 '00:05:49',
 '00:05:49',
 '00:05:50',
 '00:05:51',
 '00:05:52',
 '00:05:52',
 '00:05:53',
 '00:05:53',
 '00:05:53',
 '00:05:53',
 '00:05:54',
 '00:05:54',
 '00:05:54',
 '00:05:54',
 '00:05:57',
 '00:05:57',
 '00:05:57',
 '00:05:57',
 '00:05:57',
 '00:05:58',
 '00:05:59',
 '00:06:00',
 '00:06:01',
 '00:06:01',
 '00:06:01',
 '00:06:01',
 '00:06:02',
 '00:06:03',
 '00:06:03',
 '00:06:04',
 '00:06:05',
 '00:06:05',
 '00:06:06',
 '00:06:06',
 '00:06:07',
 '00:06:07',
 '00:06:09',
 '00:06:09',
 '00:06:09',
 '00:06:10',
 '00:06:10',
 '00:06:11',
 '00:06:11',
 '00:06:11',
 '00:06:12',
 '00:06:13',
 '00:06:13',
 '00:06:13',
 '00:06:13',
 '00:06:15',
 '00:06:15',
 '00:06:15',
 '00:06:16',
 '00:06:16',
 '00:06:18',
 '00:06:18',
 '00:06:18',
 '00:06:19',
 '00:06:19',
 '00:06:19',
 '00:06:20',
 '00:06:20',
 '00:06:20',
 '00:06:21',
 '00:06:21',
 '00:06:21',
 '00:06:21',
 '00:06:21',
 '00:06:22',
 '00:06:24',
 '00:06:24',
 '00:06:24',
 '00:06:25',
 '00:06:25',
 '00:06:25',
 '00:06:26',
 '00:06:27',
 '00:06:27',
 '00:06:27',
 '00:06:27',
 '00:06:28',
 '00:06:28',
 '00:06:28',
 '00:06:28',
 '00:06:28',
 '00:06:29',
 '00:06:30',
 '00:06:30',
 '00:06:30',
 '00:06:31',
 '00:06:31',
 '00:06:32',
 '00:06:32',
 '00:06:33',
 '00:06:34',
 '00:06:34',
 '00:06:35',
 '00:06:35',
 '00:06:36',
 '00:06:37',
 '00:06:38',
 '00:06:38',
 '00:06:38',
 '00:06:38',
 '00:06:42',
 '00:06:42',
 '00:06:42',
 '00:06:43',
 '00:06:44',
 '00:06:44',
 '00:06:46',
 '00:06:46',
 '00:06:47',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:48',
 '00:06:49',
 '00:06:49',
 '00:06:49',
 '00:06:49',
 '00:06:49',
 '00:06:49',
 '00:06:50',
 '00:06:50',
 '00:06:50',
 '00:06:50',
 '00:06:50',
 '00:06:50',
 '00:06:51',
 '00:06:51',
 '00:06:51',
 '00:06:51',
 '00:06:52',
 '00:06:52',
 '00:06:52',
 '00:06:52',
 '00:06:52',
 '00:06:52',
 '00:06:53',
 '00:06:53',
 '00:06:53',
 '00:06:53',
 '00:06:54',
 '00:06:54',
 '00:06:54',
 '00:06:54',
 '00:06:54',
 '00:06:54',
 '00:06:55',
 '00:06:55',
 '00:06:57',
 '00:06:57',
 '00:06:57',
 '00:06:57',
 '00:06:58',
 '00:06:58',
 '00:06:58',
 '00:07:00',
 '00:07:00',
 '00:07:01',
 '00:07:01',
 '00:07:01',
 '00:07:01',
 '00:07:02',
 '00:07:02',
 '00:07:02',
 '00:07:02',
 '00:07:02',
 '00:07:03',
 '00:07:03',
 '00:07:03',
 '00:07:03',
 '00:07:04',
 '00:07:04',
 '00:07:05',
 '00:07:05',
 '00:07:05',
 '00:07:05',
 '00:07:05',
 '00:07:07',
 '00:07:08',
 '00:07:08',
 '00:07:09',
 '00:07:09',
 '00:07:11',
 '00:07:11',
 '00:07:11',
 '00:07:12',
 '00:07:12',
 '00:07:12',
 '00:07:13',
 '00:07:13',
 '00:07:13',
 '00:07:14',
 '00:07:14',
 '00:07:15',
 '00:07:15',
 '00:07:16',
 '00:07:16',
 '00:07:16',
 '00:07:17',
 '00:07:17',
 '00:07:17',
 '00:07:18',
 '00:07:18',
 '00:07:19',
 '00:07:19',
 '00:07:19',
 '00:07:20',
 '00:07:20',
 '00:07:22',
 '00:07:22',
 '00:07:22',
 '00:07:23',
 '00:07:23',
 '00:07:23',
 '00:07:23',
 '00:07:24',
 '00:07:24',
 '00:07:25',
 '00:07:25',
 '00:07:25',
 '00:07:25',
 '00:07:26',
 '00:07:27',
 '00:07:27',
 '00:07:27',
 '00:07:27',
 '00:07:28',
 '00:07:28',
 '00:07:29',
 '00:07:30',
 '00:07:30',
 '00:07:32',
 '00:07:33',
 '00:07:35',
 '00:07:35',
 '00:07:35',
 '00:07:35',
 '00:07:36',
 '00:07:36',
 '00:07:36',
 '00:07:36',
 '00:07:37',
 '00:07:37',
 '00:07:37',
 '00:07:37',
 '00:07:37',
 '00:07:37',
 '00:07:37',
 ...]

In [120]:
timedata = time[:]

In [5]:
str(datetime.timedelta(milliseconds=3157000))

'0:52:37'

In [6]:
str(datetime.timedelta(seconds=666))

'0:11:06'

In [7]:
def time_msec(time):
    time_split=time.split(':')
    if len(time_split) == 2 :
        sec = int(time_split[0])*60+int(time_split[1])
        return sec*1000
    elif len(time_split) == 3 :
        sec = (int(time_split[0])*60+int(time_split[1]))*60+int(time_split[2])
        return sec*1000

def msec_time(msec):
    sec = msec/1000
    return str(int(sec//60))+':'+str(int(sec%60))

In [9]:
def ocr(frame):
    data=[]

    board=frame[:25,1550:1905]
    length = board.shape[1]
    board=board[:,5:int(length*0.21)]

    sharpening_1 = np.array([[-1, -1, -1], [-1, 8, -1], [-1, -1, -1]])
    board = cv2.filter2D(board, -1, sharpening_1)

    fx=4
    fy=4
    board=cv2.resize(board, dsize=(0,0), fx=fx,fy=fy)


    board = cv2.cvtColor(board, cv2.COLOR_RGB2GRAY)

    kernel = np.ones((3,3),np.uint8)


    board = cv2.GaussianBlur(board, (3, 3), 0)
    _, board = cv2.threshold(board, 0, 255,  cv2.THRESH_OTSU+cv2.THRESH_BINARY_INV)

#     print(pytesseract.image_to_string(board))
    return pytesseract.image_to_string(board)

In [10]:
def ocr2(frame):
    data=[]
    board=frame[:25,1550:1905]
    gray = cv2.cvtColor(board, cv2.COLOR_RGB2GRAY)

    fx=4
    fy=4

    board=cv2.resize(gray, dsize=(0,0), fx=fx,fy=fy)

    img_blur = cv2.GaussianBlur(board, (3,3), 0)
    _, board = cv2.threshold(img_blur, 0, 255, cv2.THRESH_BINARY_INV + cv2.THRESH_OTSU)

    length = board.shape[1]

#     score = board[:,5:int(length*0.21)]

#     str_score = pytesseract.image_to_string(score)
#     print(str_score)
#     data.append(str_score)

    kda = board[:,int(length*0.32):int(length*0.48)]

    str_kda = pytesseract.image_to_string(kda)
#     print(str_kda)
    data.append(str_kda)
    
    time = board[:,int(length*0.87):]
    str_time = pytesseract.image_to_string(time)
    data.append(str_time)

    return data

In [275]:
def ocr3(frame):
#     img=cv2.imread('video/image ('+str(i)+').jpg')
    
    board=frame[1047:1070,1180:1237]
    gray = cv2.cvtColor(board, cv2.COLOR_RGB2GRAY)
    
    fx=4
    fy=4
    board=cv2.resize(gray, dsize=(0,0), fx=fx,fy=fy)
    board = cv2.GaussianBlur(board, (3, 3), 0)
    _, board = cv2.threshold(board, 0, 255,  cv2.THRESH_OTSU+cv2.THRESH_BINARY_INV)

    # plt.imshow(board)

    # img[1043:1070,1180:1230]
    str_time = pytesseract.image_to_string(board)
    return str_time

In [279]:
# 동영상 프로세싱
import cv2

cap = cv2.VideoCapture('video/full.mp4')

starttime = '38:34'
endtime = '1:15:15'
cap.set(cv2.CAP_PROP_POS_MSEC, time_msec(starttime))

i=0
datalist=[]
while (cap.isOpened):
    i += 1
    ret, frame = cap.read()
    if ret:
        if i%60==0:
#             dt=ocr(frame)
#             dt2=ocr2(frame)
#             data = [dt]+dt2+[cap.get(cv2.CAP_PROP_POS_MSEC)]
            dt = ocr3(frame)
            data = [dt]+[cap.get(cv2.CAP_PROP_POS_MSEC)]
            if i%600==0:
                print(data)
                
            datalist.append(data)
#             print(cap.get(cv2.CAP_PROP_POS_MSEC)) # 동영상 재생시간
        if cap.get(cv2.CAP_PROP_POS_MSEC) > time_msec(endtime):
            break
    else:
        break

['', 2323984.0]
['', 2333984.0]
['', 2343984.0]
['', 2353984.0]
['', 2363984.0]
['', 2373984.0]
['', 2383984.0]
['21', 2393984.0]
['63', 2403984.0]
['97', 2413984.0]
['152', 2423984.0]
['194', 2433984.0]
['228', 2443984.0]
['298', 2453984.0]
['360', 2463984.0]
['440', 2473984.0]
['524', 2483984.0]
['579', 2493984.0]
['635', 2503984.0]
['683', 2513984.0]
['738', 2523984.0]
['787', 2533984.0]
['8/0', 2543984.0]
['996', 2553984.0]
['716', 2563984.0]
['36', 2573984.0]
['92', 2583984.0]
['112', 2593984.0]
['', 2603984.0]
['', 2613984.0]
['98', 2623984.0]
['119', 2633984.0]
['139', 2643984.0]
['160', 2653984.0]
['264', 2663984.0]
['284', 2673984.0]
['305', 2683984.0]
['325', 2693984.0]
['416', 2703984.0]
['471', 2713984.0]
['491', 2723984.0]
['554', 2733984.0]
['706', 2743984.0]
['832', 2753984.0]
['852', 2763984.0]
['172', 2773984.0]
['', 2783984.0]
['213', 2793984.0]
['234', 2803984.0]
['254', 2813984.0]
['744', 2823984.0]
['921', 2833984.0]
['941', 2843984.0]
['962', 2853984.0]
['1087', 2863984.0]
['1128', 2873984.0]
['1233', 2883984.0]
['33', 2893984.0]
['', 2903984.0]
['159', 2913984.0]
['179', 2923984.0]
['305', 2933984.0]
['', 2943984.0]
['504', 2953984.0]
['526', 2963984.0]
['651', 2973984.0]
['672', 2983984.0]
['692', 2993984.0]
['713', 3003984.0]
['853', 3013984.0]
['8/73', 3023984.0]
['978', 3033984.0]
['1387', 3043984.0]
['1518', 3053984.0]
['1698', 3063984.0]
['1719', 3073984.0]
['399', 3083984.0]
['419', 3093984.0]
['440', 3103984.0]
['565', 3113984.0]
['585', 3123984.0]
['3]', 3133984.0]
['', 3143984.0]
['122', 3153984.0000000005]
['141', 3163984.0000000005]
['525', 3173984.0000000005]
['594', 3183984.0000000005]
['1034', 3193984.0000000005]
['1055', 3203984.0000000005]
['', 3213984.0000000005]
['126', 3223984.0000000005]
['145', 3233984.0000000005]
['', 3243984.0000000005]
['250', 3253984.0000000005]
['532', 3263984.0000000005]
['70', 3273984.0000000005]
['89', 3283984.0000000005]
['110', 3293984.0000000005]
['130', 3303984.0000000005]
['', 3313984.0000000005]
['', 3323984.0000000005]
['192', 3333984.0000000005]
['1197', 3343984.0000000005]
['1537', 3353984.0000000005]
['1587', 3363984.0000000005]
['1608', 3373984.0000000005]
['1902', 3383984.0000000005]
['722', 3393984.0000000005]
['74)', 3403984.0000000005]
['86/7', 3413984.0000000005]
['977', 3423984.0000000005]
['', 3433984.0000000005]
['43', 3443984.0000000005]
['112', 3453984.0000000005]
['196', 3463984.0000000005]
['412', 3473984.0000000005]
['433', 3483984.0000000005]
['453', 3493984.0000000005]
['472', 3503984.0000000005]
['571', 3513984.0000000005]
['591', 3523984.0000000005]
['674', 3533984.0000000005]
['769', 3543984.0000000005]
['790', 3553984.0000000005]
['811', 3563984.0000000005]
['831', 3573984.0000000005]
['229', 3583984.0000000005]
['250', 3593984.0000000005]
['2/0', 3603984.0000000005]
['291', 3613984.0000000005]
['310', 3623984.0000000005]
['331', 3633984.0000000005]
['457', 3643984.0000000005]
['477', 3653984.0000000005]
['527', 3663984.0000000005]
['597', 3673984.0000000005]
['668', 3683984.0000000005]
['689', 3693984.0000000005]
['708', 3703984.0000000005]
['730', 3713984.0000000005]
['750', 3723984.0000000005]
['7/0', 3733984.0000000005]
['790', 3743984.0000000005]
['810', 3753984.0000000005]
['888', 3763984.0000000005]
['909', 3773984.0000000005]
['965', 3783984.0000000005]
['1103', 3793984.0000000005]
['1208', 3803984.0000000005]
['1291', 3813984.0000000005]
['12', 3823984.0000000005]
['33', 3833984.0000000005]
['', 3843984.0000000005]
['209', 3853984.0000000005]
['229', 3863984.0000000005]
['249', 3873984.0000000005]
['269', 3883984.0000000005]
['331', 3893984.0000000005]
['353', 3903984.0000000005]
['377', 3913984.0000000005]
['642', 3923984.0000000005]
['752', 3933984.0000000005]
['773', 3943984.0000000005]
['967', 3953984.0000000005]
['987', 3963984.0000000005]
['1008', 3973984.0000000005]
['1223', 3983984.0000000005]
['393', 3993984.0000000005]
['', 4003984.0000000005]
['', 4013984.0000000005]
['2/9', 4023984.0000000005]
['328', 4033984.0000000005]
['348', 4043984.0000000005]
['399', 4053984.0000000005]
['443', 4063984.0000000005]
['509', 4073984.0000000005]
['559', 4083984.0000000005]
['637', 4093984.0000000005]
['1285', 4103984.0000000005]
['1508', 4113984.0000000005]
['1724', 4123984.0000000005]
['1743', 4133984.0000000005]
['2113', 4143984.0000000005]
['1668', 4153984.0000000005]
['1708', 4163984.0000000005]
['1903', 4173984.0000000005]
['2373', 4183984.0000000005]
['2543', 4193984.0000000005]
['564', 4203984.0]
['435', 4213984.0]
['455', 4223984.0]
['475', 4233984.0]
['627', 4243984.0]
['648', 4253984.0]
['668', 4263984.0]
['805', 4273984.0]
['1173', 4283984.0]
['1513', 4293984.0]
['1534', 4303984.0]
['1937', 4313984.0]
['2090', 4323984.0]
['2410', 4333984.0]
['2681', 4343984.0]
['2834', 4353984.0]
['2989', 4363984.0]
['3165', 4373984.0]
['3248', 4383984.0]
['58', 4393984.0]
['T9', 4403984.0]
['99', 4413984.0]
['120', 4423984.0]
['210', 4433984.0]
['550', 4443984.0]
['752', 4453984.0]
['1154', 4463984.0]
['1420', 4473984.0]
['1507', 4483984.0]
['1527', 4493984.0]
['1747', 4503984.0]
['1927', 4513984.0]

In [280]:
datalist

[['', 2314984.0],
 ['', 2315984.0],
 ['', 2316984.0],
 ['', 2317984.0],
 ['', 2318984.0],
 ['', 2319984.0],
 ['', 2320984.0],
 ['', 2321984.0],
 ['', 2322984.0],
 ['', 2323984.0],
 ['', 2324984.0],
 ['', 2325984.0],
 ['', 2326984.0],
 ['', 2327984.0],
 ['', 2328984.0],
 ['', 2329984.0],
 ['', 2330984.0],
 ['', 2331984.0],
 ['', 2332984.0],
 ['', 2333984.0],
 ['', 2334984.0],
 ['', 2335984.0],
 ['', 2336984.0],
 ['', 2337984.0],
 ['', 2338984.0],
 ['', 2339984.0],
 ['', 2340984.0],
 ['', 2341984.0],
 ['', 2342984.0],
 ['', 2343984.0],
 ['', 2344984.0],
 ['', 2345984.0],
 ['', 2346984.0],
 ['', 2347984.0],
 ['', 2348984.0],
 ['', 2349984.0],
 ['', 2350984.0],
 ['', 2351984.0],
 ['', 2352984.0],
 ['', 2353984.0],
 ['', 2354984.0],
 ['', 2355984.0],
 ['', 2356984.0],
 ['', 2357984.0],
 ['', 2358984.0],
 ['', 2359984.0],
 ['', 2360984.0],
 ['', 2361984.0],
 ['', 2362984.0],
 ['', 2363984.0],
 ['', 2364984.0],
 ['', 2365984.0],
 ['', 2366984.0],
 ['', 2367984.0],
 ['', 2368984.0],
 ['', 2369984.0],
 ['', 2370984.0],
 ['', 2371984.0],
 ['', 2372984.0],
 ['', 2373984.0],
 ['', 2374984.0],
 ['', 2375984.0],
 ['', 2376984.0],
 ['', 2377984.0],
 ['', 2378984.0],
 ['', 2379984.0],
 ['', 2380984.0],
 ['', 2381984.0],
 ['', 2382984.0],
 ['', 2383984.0],
 ['', 2384984.0],
 ['', 2385984.0],
 ['', 2386984.0],
 ['', 2387984.0],
 ['', 2388984.0],
 ['', 2389984.0],
 ['', 2390984.0],
 ['21', 2391984.0],
 ['21', 2392984.0],
 ['21', 2393984.0],
 ['21', 2394984.0],
 ['21', 2395984.0],
 ['21', 2396984.0],
 ['21', 2397984.0],
 ['21', 2398984.0],
 ['21', 2399984.0],
 ['42', 2400984.0],
 ['42', 2401984.0],
 ['42', 2402984.0],
 ['63', 2403984.0],
 ['65', 2404984.0],
 ['6/', 2405984.0],
 ['69', 2406984.0],
 ['71', 2407984.0],
 ['73', 2408984.0],
 ['715', 2409984.0],
 ['T/', 2410984.0],
 ['93', 2411984.0],
 ['95', 2412984.0],
 ['97', 2413984.0],
 ['99', 2414984.0],
 ['', 2415984.0],
 ['', 2416984.0],
 ['119', 2417984.0],
 ['', 2418984.0],
 ['', 2419984.0],
 ['', 2420984.0],
 ['127', 2421984.0],
 ['150', 2422984.0],
 ['152', 2423984.0],
 ['', 2424984.0],
 ['', 2425984.0],
 ['158', 2426984.0],
 ['160', 2427984.0],
 ['162', 2428984.0],
 ['', 2429984.0],
 ['167', 2430984.0],
 ['190', 2431984.0],
 ['192', 2432984.0],
 ['194', 2433984.0],
 ['', 2434984.0],
 ['212', 2435984.0],
 ['214', 2436984.0],
 ['216', 2437984.0],
 ['218', 2438984.0],
 ['220', 2439984.0],
 ['222', 2440984.0],
 ['224', 2441984.0],
 ['226', 2442984.0],
 ['228', 2443984.0],
 ['230', 2444984.0],
 ['246', 2445984.0],
 ['248', 2446984.0],
 ['250', 2447984.0],
 ['252', 2448984.0],
 ['254', 2449984.0],
 ['2/0', 2450984.0],
 ['293', 2451984.0],
 ['295', 2452984.0],
 ['298', 2453984.0],
 ['300', 2454984.0],
 ['302', 2455984.0],
 ['304', 2456984.0],
 ['327', 2457984.0],
 ['329', 2458984.0],
 ['331', 2459984.0],
 ['354', 2460984.0],
 ['356', 2461984.0],
 ['358', 2462984.0],
 ['360', 2463984.0],
 ['362', 2464984.0],
 ['364', 2465984.0],
 ['366', 2466984.0],
 ['368', 2467984.0],
 ['370', 2468984.0],
 ['372', 2469984.0],
 ['374', 2470984.0],
 ['376', 2471984.0],
 ['378', 2472984.0],
 ['440', 2473984.0],
 ['442', 2474984.0],
 ['458', 2475984.0],
 ['460', 2476984.0],
 ['476', 2477984.0],
 ['478', 2478984.0],
 ['48 1', 2479984.0],
 ['483', 2480984.0],
 ['499', 2481984.0],
 ['501', 2482984.0],
 ['524', 2483984.0],
 ['526', 2484984.0],
 ['528', 2485984.0],
 ['530', 2486984.0],
 ['532', 2487984.0],
 ['548', 2488984.0],
 ['550', 2489984.0],
 ['552', 2490984.0],
 ['575', 2491984.0],
 ['577', 2492984.0],
 ['579', 2493984.0],
 ['581', 2494984.0],
 ['583', 2495984.0],
 ['585', 2496984.0],
 ['587', 2497984.0],
 ['589', 2498984.0],
 ['612', 2499984.0],
 ['614', 2500984.0],
 ['630', 2501984.0],
 ['632', 2502984.0],
 ['635', 2503984.0],
 ['637', 2504984.0],
 ['653', 2505984.0],
 ['669', 2506984.0],
 ['671', 2507984.0],
 ['673', 2508984.0],
 ['675', 2509984.0],
 ['6/7', 2510984.0],
 ['6/9', 2511984.0],
 ['681', 2512984.0],
 ['683', 2513984.0],
 ['706', 2514984.0],
 ['708', 2515984.0],
 ['710', 2516984.0],
 ['712', 2517984.0],
 ['728', 2518984.0],
 ['730', 2519984.0],
 ['732', 2520984.0],
 ['734', 2521984.0],
 ['736', 2522984.0],
 ['738', 2523984.0],
 ['740', 2524984.0],
 ['742', 2525984.0],
 ['744', 2526984.0],
 ['746', 2527984.0],
 ['749', 2528984.0],
 ['751', 2529984.0],
 ['767', 2530984.0],
 ['169', 2531984.0],
 ['771', 2532984.0],
 ['787', 2533984.0],
 ['789', 2534984.0],
 ['791', 2535984.0],
 ['793', 2536984.0],
 ['795', 2537984.0],
 ['818', 2538984.0],
 ['820', 2539984.0],
 ['843', 2540984.0],
 ['845', 2541984.0],
 ['868', 2542984.0],
 ['8/0', 2543984.0],
 ['935', 2544984.0],
 ['965', 2545984.0],
 ['981', 2546984.0],
 ['983', 2547984.0],
 ['985', 2548984.0],
 ['987', 2549984.0],
 ['989', 2550984.0],
 ['991', 2551984.0],
 ['993', 2552984.0],
 ['996', 2553984.0],
 ['998', 2554984.0],
 ['1000', 2555984.0],
 ['1002', 2556984.0],
 ['1004', 2557984.0],
 ['1006', 2558984.0],
 ['1008', 2559984.0],
 ['1010', 2560984.0],
 ['1012', 2561984.0],
 ['1014', 2562984.0],
 ['716', 2563984.0],
 ['', 2564984.0],
 ['20', 2565984.0],
 ['22', 2566984.0],
 ['', 2567984.0],
 ['26', 2568984.0],
 ['', 2569984.0],
 ['30', 2570984.0],
 ['32', 2571984.0],
 ['', 2572984.0],
 ['36', 2573984.0],
 ['', 2574984.0],
 ['40', 2575984.0],
 ['42', 2576984.0],
 ['', 2577984.0],
 ['47', 2578984.0],
 ['49', 2579984.0],
 ['', 2580984.0],
 ['', 2581984.0],
 ['90', 2582984.0],
 ['92', 2583984.0],
 ['', 2584984.0],
 ['96', 2585984.0],
 ['', 2586984.0],
 ['100', 2587984.0],
 ['102', 2588984.0],
 ['104', 2589984.0],
 ['106', 2590984.0],
 ['108', 2591984.0],
 ['110', 2592984.0],
 ['112', 2593984.0],
 ['', 2594984.0],
 ['116', 2595984.0],
 ['118', 2596984.0],
 ['120', 2597984.0],
 ['122', 2598984.0],
 ['124', 2599984.0],
 ['126', 2600984.0],
 ['128', 2601984.0],
 ['130', 2602984.0],
 ['', 2603984.0],
 ['', 2604984.0],
 ['137', 2605984.0],
 ['139', 2606984.0],
 ['141', 2607984.0],
 ['143', 2608984.0],
 ['145', 2609984.0],
 ['147', 2610984.0],
 ['149', 2611984.0],
 ['', 2612984.0],
 ['', 2613984.0],
 ['', 2614984.0],
 ['157', 2615984.0],
 ['159', 2616984.0],
 ['', 2617984.0],
 ['', 2618984.0],
 ['', 2619984.0],
 ['167', 2620984.0],
 ['169', 2621984.0],
 ['171', 2622984.0],
 ['98', 2623984.0],
 ['100', 2624984.0],
 ['102', 2625984.0],
 ['104', 2626984.0],
 ['106', 2627984.0],
 ['109', 2628984.0],
 ['', 2629984.0],
 ['', 2630984.0],
 ['', 2631984.0],
 ['117', 2632984.0],
 ['119', 2633984.0],
 ['', 2634984.0],
 ['', 2635984.0],
 ['', 2636984.0],
 ['', 2637984.0],
 ['129', 2638984.0],
 ['', 2639984.0],
 ['', 2640984.0],
 ['', 2641984.0],
 ['137', 2642984.0],
 ['139', 2643984.0],
 ['141', 2644984.0],
 ['143', 2645984.0],
 ['145', 2646984.0],
 ['147', 2647984.0],
 ['149', 2648984.0],
 ['', 2649984.0],
 ['', 2650984.0],
 ['', 2651984.0],
 ['157', 2652984.0],
 ['160', 2653984.0],
 ['162', 2654984.0],
 ['164', 2655984.0],
 ['166', 2656984.0],
 ['168', 2657984.0],
 ['170', 2658984.0],
 ['', 2659984.0],
 ['', 2660984.0],
 ['232', 2661984.0],
 ['248', 2662984.0],
 ['264', 2663984.0],
 ['266', 2664984.0],
 ['268', 2665984.0],
 ['2/0', 2666984.0],
 ['2/2', 2667984.0],
 ['2/4', 2668984.0],
 ['2/6', 2669984.0],
 ['2/8', 2670984.0],
 ['280', 2671984.0],
 ['282', 2672984.0],
 ['284', 2673984.0],
 ['286', 2674984.0],
 ['288', 2675984.0],
 ['290', 2676984.0],
 ['292', 2677984.0],
 ['295', 2678984.0],
 ['297', 2679984.0],
 ['299', 2680984.0],
 ['301', 2681984.0],
 ['303', 2682984.0],
 ['305', 2683984.0],
 ['307', 2684984.0],
 ['309', 2685984.0],
 ['311', 2686984.0],
 ['313', 2687984.0],
 ['315', 2688984.0],
 ['317', 2689984.0],
 ['319', 2690984.0],
 ['321', 2691984.0],
 ['323', 2692984.0],
 ['325', 2693984.0],
 ['327', 2694984.0],
 ['329', 2695984.0],
 ['331', 2696984.0],
 ['333', 2697984.0],
 ['335', 2698984.0],
 ['337', 2699984.0],
 ['360', 2700984.0],
 ['397', 2701984.0],
 ['399', 2702984.0],
 ['416', 2703984.0],
 ['439', 2704984.0],
 ['44)', 2705984.0],
 ['443', 2706984.0],
 ['459', 2707984.0],
 ['461', 2708984.0],
 ['463', 2709984.0],
 ['465', 2710984.0],
 ['467', 2711984.0],
 ['469', 2712984.0],
 ['471', 2713984.0],
 ['473', 2714984.0],
 ['475', 2715984.0],
 ['477', 2716984.0],
 ['479', 2717984.0],
 ['481', 2718984.0],
 ['483', 2719984.0],
 ['485', 2720984.0],
 ['487', 2721984.0],
 ['489', 2722984.0],
 ['491', 2723984.0],
 ['493', 2724984.0],
 ['495', 2725984.0],
 ['497', 2726984.0],
 ['499', 2727984.0],
 ['502', 2728984.0],
 ['504', 2729984.0],
 ['527', 2730984.0],
 ['550', 2731984.0],
 ['552', 2732984.0],
 ['554', 2733984.0],
 ['556', 2734984.0],
 ['558', 2735984.0],
 ['629', 2736984.0],
 ['652', 2737984.0],
 ['654', 2738984.0],
 ['6/0', 2739984.0],
 ['686', 2740984.0],
 ['702', 2741984.0],
 ['704', 2742984.0],
 ['706', 2743984.0],
 ['708', 2744984.0],
 ['710', 2745984.0],
 ['754', 2746984.0],
 ['77/7', 2747984.0],
 ['800', 2748984.0],
 ['823', 2749984.0],
 ['825', 2750984.0],
 ['827', 2751984.0],
 ['829', 2752984.0],
 ['832', 2753984.0],
 ['834', 2754984.0],
 ['836', 2755984.0],
 ['838', 2756984.0],
 ['840', 2757984.0],
 ['842', 2758984.0],
 ['844', 2759984.0],
 ['846', 2760984.0],
 ['848', 2761984.0],
 ['850', 2762984.0],
 ['852', 2763984.0],
 ['854', 2764984.0],
 ['856', 2765984.0],
 ['233', 2766984.0],
 ['160', 2767984.0],
 ['162', 2768984.0],
 ['164', 2769984.0],
 ['166', 2770984.0],
 ['', 2771984.0],
 ['170', 2772984.0],
 ['172', 2773984.0],
 ['174', 2774984.0],
 ['176', 2775984.0],
 ['', 2776984.0],
 ['180', 2777984.0],
 ['183', 2778984.0],
 ['185', 2779984.0],
 ['187', 2780984.0],
 ['189', 2781984.0],
 ['', 2782984.0],
 ['', 2783984.0],
 ['', 2784984.0],
 ['197', 2785984.0],
 ['199', 2786984.0],
 ['201', 2787984.0],
 ['203', 2788984.0],
 ['205', 2789984.0],
 ['207', 2790984.0],
 ['209', 2791984.0],
 ['211', 2792984.0],
 ['213', 2793984.0],
 ['215', 2794984.0],
 ['217', 2795984.0],
 ['219', 2796984.0],
 ['221', 2797984.0],
 ['223', 2798984.0],
 ['225', 2799984.0],
 ['22/', 2800984.0],
 ['229', 2801984.0],
 ['231', 2802984.0],
 ['234', 2803984.0],
 ['236', 2804984.0],
 ['238', 2805984.0],
 ['240', 2806984.0],
 ['242', 2807984.0],
 ['244', 2808984.0],
 ['246', 2809984.0],
 ['248', 2810984.0],
 ['250', 2811984.0],
 ['252', 2812984.0],
 ['254', 2813984.0],
 ['256', 2814984.0],
 ['258', 2815984.0],
 ['260', 2816984.0],
 ['262', 2817984.0],
 ['264', 2818984.0],
 ['716', 2819984.0],
 ['738', 2820984.0],
 ['740', 2821984.0],
 ['742', 2822984.0],
 ['744', 2823984.0],
 ['746', 2824984.0],
 ['748', 2825984.0],
 ['750', 2826984.0],
 ['752', 2827984.0],
 ['755', 2828984.0],
 ['785', 2829984.0],
 ['8/73', 2830984.0],
 ['896', 2831984.0],
 ['919', 2832984.0],
 ['921', 2833984.0],
 ['923', 2834984.0],
 ['925', 2835984.0],
 ['92/7', 2836984.0],
 ['929', 2837984.0],
 ['931', 2838984.0],
 ['933', 2839984.0],
 ['935', 2840984.0],
 ['937', 2841984.0],
 ['939', 2842984.0],
 ['941', 2843984.0],
 ['943', 2844984.0],
 ['945', 2845984.0],
 ['947', 2846984.0],
 ['949', 2847984.0],
 ['951', 2848984.0],
 ['953', 2849984.0],
 ['955', 2850984.0],
 ['957', 2851984.0],
 ['959', 2852984.0],
 ['962', 2853984.0],
 ['964', 2854984.0],
 ['966', 2855984.0],
 ['989', 2856984.0],
 ['1012', 2857984.0],
 ['1028', 2858984.0],
 ['1079', 2859984.0],
 ['1081', 2860984.0],
 ['1083', 2861984.0],
 ['1085', 2862984.0],
 ['1087', 2863984.0],
 ['1089', 2864984.0],
 ['1091', 2865984.0],
 ['1093', 2866984.0],
 ['1095', 2867984.0],
 ['1097', 2868984.0],
 ['1099', 2869984.0],
 ['1101', 2870984.0],
 ['1103', 2871984.0],
 ['1105', 2872984.0],
 ['1128', 2873984.0],
 ['1193', 2874984.0],
 ['1216', 2875984.0],
 ['1218', 2876984.0],
 ['1219', 2877984.0],
 ['1223', 2878984.0],
 ['1225', 2879984.0],
 ['1227', 2880984.0],
 ['1229', 2881984.0],
 ['1231', 2882984.0],
 ['1233', 2883984.0],
 ['1234', 2884984.0],
 ['1267', 2885984.0],
 ['19', 2886984.0],
 ['21', 2887984.0],
 ['23', 2888984.0],
 ['25', 2889984.0],
 ['2/', 2890984.0],
 ['29', 2891984.0],
 ['31', 2892984.0],
 ['33', 2893984.0],
 ['35', 2894984.0],
 ['37', 2895984.0],
 ['39', 2896984.0],
 ['41', 2897984.0],
 ['43', 2898984.0],
 ['45', 2899984.0],
 ['47', 2900984.0],
 ['49', 2901984.0],
 ['51', 2902984.0],
 ['', 2903984.0],
 ['56', 2904984.0],
 ['', 2905984.0],
 ['60', 2906984.0],
 ['62', 2907984.0],
 ['79', 2908984.0],
 ['96', 2909984.0],
 ['', 2910984.0],
 ['100', 2911984.0],
 ['102', 2912984.0],
 ['159', 2913984.0],
 ['', 2914984.0],
 ['', 2915984.0],
 ['', 2916984.0],
 ['', 2917984.0],
 ['', 2918984.0],
 ['171', 2919984.0],
 ['', 2920984.0],
 ['', 2921984.0],
 ['177', 2922984.0],
 ['179', 2923984.0],
 ['181', 2924984.0],
 ['211', 2925984.0],
 ['22/', 2926984.0],
 ['250', 2927984.0],
 ['295', 2928984.0],
 ['297', 2929984.0],
 ['299', 2930984.0],
 ['301', 2931984.0],
 ['303', 2932984.0],
 ['305', 2933984.0],
 ['467', 2934984.0],
 ['468', 2935984.0],
 ['471', 2936984.0],
 ['473', 2937984.0],
 ['475', 2938984.0],
 ['477', 2939984.0],
 ['479', 2940984.0],
 ['481', 2941984.0],
 ['483', 2942984.0],
 ['', 2943984.0],
 ['487', 2944984.0],
 ['489', 2945984.0],
 ['491', 2946984.0],
 ['493', 2947984.0],
 ['495', 2948984.0],
 ['497', 2949984.0],
 ['499', 2950984.0],
 ['501', 2951984.0],
 ['503', 2952984.0],
 ['504', 2953984.0],
 ['508', 2954984.0],
 ['510', 2955984.0],
 ['512', 2956984.0],
 ['514', 2957984.0],
 ['516', 2958984.0],
 ['518', 2959984.0],
 ['520', 2960984.0],
 ['522', 2961984.0],
 ['524', 2962984.0],
 ['526', 2963984.0],
 ['528', 2964984.0],
 ['551', 2965984.0],
 ['581', 2966984.0],
 ['604', 2967984.0],
 ['641', 2968984.0],
 ['643', 2969984.0],
 ['645', 2970984.0],
 ['647', 2971984.0],
 ['649', 2972984.0],
 ['651', 2973984.0],
 ['653', 2974984.0],
 ['655', 2975984.0],
 ['656', 2976984.0],
 ['659', 2977984.0],
 ['662', 2978984.0],
 ['664', 2979984.0],
 ['666', 2980984.0],
 ['668', 2981984.0],
 ['6/0', 2982984.0],
 ['672', 2983984.0],
 ['674', 2984984.0],
 ['6/6', 2985984.0],
 ['6/78', 2986984.0],
 ['680', 2987984.0],
 ['682', 2988984.0],
 ['684', 2989984.0],
 ['686', 2990984.0],
 ['688', 2991984.0],
 ['690', 2992984.0],
 ['692', 2993984.0],
 ['694', 2994984.0],
 ['696', 2995984.0],
 ['698', 2996984.0],
 ['700', 2997984.0],
 ['702', 2998984.0],
 ['704', 2999984.0],
 ['705', 3000984.0],
 ['708', 3001984.0],
 ['710', 3002984.0],
 ['713', 3003984.0],
 ['715', 3004984.0],
 ['717', 3005984.0],
 ['811', 3006984.0],
 ['812', 3007984.0],
 ['815', 3008984.0],
 ['845', 3009984.0],
 ['847', 3010984.0],
 ['849', 3011984.0],
 ['851', 3012984.0],
 ['853', 3013984.0],
 ['855', 3014984.0],
 ['857', 3015984.0],
 ['859', 3016984.0],
 ['861', 3017984.0],
 ['863', 3018984.0],
 ['864', 3019984.0],
 ['86/7', 3020984.0],
 ['869', 3021984.0],
 ['871', 3022984.0],
 ['8/73', 3023984.0],
 ['875', 3024984.0],
 ['8/7', 3025984.0],
 ['907', 3026984.0],
 ['923', 3027984.0],
 ['947', 3028984.0],
 ['969', 3029984.0],
 ['972', 3030984.0],
 ['974', 3031984.0],
 ['976', 3032984.0],
 ['978', 3033984.0],
 ['980', 3034984.0],
 ['982', 3035984.0],
 ['983', 3036984.0],
 ['1336', 3037984.0],
 ['1378', 3038984.0],
 ['1380', 3039984.0],
 ['1382', 3040984.0],
 ['1384', 3041984.0],
 ['1386', 3042984.0],
 ['1387', 3043984.0],
 ['1390', 3044984.0],
 ['1392', 3045984.0],
 ['1394', 3046984.0],
 ['1417', 3047984.0],
 ['1418', 3048984.0],
 ['1456', 3049984.0],
 ['1458', 3050984.0],
 ['1514', 3051984.0],
 ['1516', 3052984.0],
 ['1518', 3053984.0],
 ['1520', 3054984.0],
 ['1522', 3055984.0],
 ['1631', 3056984.0],
 ['1633', 3057984.0],
 ['1634', 3058984.0],
 ['1637', 3059984.0],
 ['1639', 3060984.0],
 ['1641', 3061984.0],
 ['1643', 3062984.0],
 ['1698', 3063984.0],
 ['1700', 3064984.0],
 ['1/702', 3065984.0],
 ['1704', 3066984.0],
 ['1706', 3067984.0],
 ['1708', 3068984.0],
 ['1710', 3069984.0],
 ['1713', 3070984.0],
 ['1715', 3071984.0],
 ['1717', 3072984.0],
 ['1719', 3073984.0],
 ['1721', 3074984.0],
 ['1723', 3075984.0],
 ['1725', 3076984.0],
 ['92/7', 3077984.0],
 ['989', 3078984.0],
 ['991', 3079984.0],
 ['393', 3080984.0],
 ['394', 3081984.0],
 ['397', 3082984.0],
 ['399', 3083984.0],
 ['401', 3084984.0],
 ['403', 3085984.0],
 ['405', 3086984.0],
 ['407', 3087984.0],
 ['408', 3088984.0],
 ['411', 3089984.0],
 ['413', 3090984.0],
 ['415', 3091984.0],
 ['417', 3092984.0],
 ['419', 3093984.0],
 ['421', 3094984.0],
 ['423', 3095984.0],
 ['426', 3096984.0],
 ['428', 3097984.0],
 ['430', 3098984.0],
 ['432', 3099984.0],
 ['434', 3100984.0],
 ['436', 3101984.0],
 ['437', 3102984.0],
 ['440', 3103984.0],
 ['442', 3104984.0],
 ['465', 3105984.0],
 ['488', 3106984.0],
 ['490', 3107984.0],
 ['527', 3108984.0],
 ['528', 3109984.0],
 ['531', 3110984.0],
 ['533', 3111984.0],
 ['535', 3112984.0],
 ['565', 3113984.0],
 ['567', 3114984.0],
 ['569', 3115984.0],
 ['570', 3116984.0],
 ['573', 3117984.0],
 ['575', 3118984.0],
 ['577', 3119984.0],
 ['580', 3120984.0],
 ['582', 3121984.0],
 ['584', 3122984.0],
 ['585', 3123984.0],
 ['588', 3124984.0],
 ['590', 3125984.0],
 ['592', 3126984.0],
 ['594', 3127984.0],
 ['596', 3128984.0],
 ['98', 3129984.0],
 ['99', 3130984.0],
 ['2/', 3131984.0],
 ['29', 3132984.0],
 ['3]', 3133984.0],
 ['33', 3134984.0],
 ['35', 3135984.0],
 ['3/7', 3136984.0],
 ['38', 3137984.0],
 ['4]', 3138984.0],
 ['42', 3139984.0],
 ['45', 3140984.0],
 ['47', 3141984.0],
 ['49', 3142984.0],
 ['', 3143984.0],
 ['52', 3144984.0],
 ['56', 3145984.0],
 ['57', 3146984.0],
 ['60', 3147984.0],
 ['62', 3148984.0],
 ['', 3149984.0],
 ['66', 3150984.0000000005],
 ['', 3151984.0000000005],
 ['120', 3152984.0000000005],
 ['122', 3153984.0000000005],
 ['', 3154984.0000000005],
 ['126', 3155984.0000000005],
 ['127', 3156984.0000000005],
 ['130', 3157984.0000000005],
 ['132', 3158984.0000000005],
 ['134', 3159984.0000000005],
 ['136', 3160984.0000000005],
 ['138', 3161984.0000000005],
 ['140', 3162984.0000000005],
 ['141', 3163984.0000000005],
 ['144', 3164984.0000000005],
 ['146', 3165984.0000000005],
 ['148', 3166984.0000000005],
 ['150', 3167984.0000000005],
 ['452', 3168984.0000000005],
 ['474', 3169984.0000000005],
 ['476', 3170984.0000000005],
 ['479', 3171984.0000000005],
 ['480', 3172984.0000000005],
 ['525', 3173984.0000000005],
 ['541', 3174984.0000000005],
 ['543', 3175984.0000000005],
 ['559', 3176984.0000000005],
 ['560', 3177984.0000000005],
 ['563', 3178984.0000000005],
 ['586', 3179984.0000000005],
 ['588', 3180984.0000000005],
 ['590', 3181984.0000000005],
 ['592', 3182984.0000000005],
 ['594', 3183984.0000000005],
 ['595', 3184984.0000000005],
 ['598', 3185984.0000000005],
 ['600', 3186984.0000000005],
 ['601', 3187984.0000000005],
 ['1004', 3188984.0000000005],
 ['1025', 3189984.0000000005],
 ['1028', 3190984.0000000005],
 ['1030', 3191984.0000000005],
 ['1032', 3192984.0000000005],
 ['1034', 3193984.0000000005],
 ['1036', 3194984.0000000005],
 ['1039', 3195984.0000000005],
 ['1041', 3196984.0000000005],
 ['1043', 3197984.0000000005],
 ['1045', 3198984.0000000005],
 ['1047', 3199984.0000000005],
 ['1048', 3200984.0000000005],
 ['1051', 3201984.0000000005],
 ['1053', 3202984.0000000005],
 ['1055', 3203984.0000000005],
 ['1057', 3204984.0000000005],
 ['1059', 3205984.0000000005],
 ['11171', 3206984.0000000005],
 ['1112', 3207984.0000000005],
 ['1115', 3208984.0000000005],
 ['1116', 3209984.0000000005],
 ['1149', 3210984.0000000005],
 ['1151', 3211984.0000000005],
 ['', 3212984.0000000005],
 ['', 3213984.0000000005],
 ['106', 3214984.0000000005],
 ['109', 3215984.0000000005],
 ['', 3216984.0000000005],
 ['', 3217984.0000000005],
 ['', 3218984.0000000005],
 ['117', 3219984.0000000005],
 ['120', 3220984.0000000005],
 ['122', 3221984.0000000005],
 ['124', 3222984.0000000005],
 ['126', 3223984.0000000005],
 ['127', 3224984.0000000005],
 ['130', 3225984.0000000005],
 ['132', 3226984.0000000005],
 ['134', 3227984.0000000005],
 ['136', 3228984.0000000005],
 ['138', 3229984.0000000005],
 ['140', 3230984.0000000005],
 ['141', 3231984.0000000005],
 ['144', 3232984.0000000005],
 ['145', 3233984.0000000005],
 ['148', 3234984.0000000005],
 ['150', 3235984.0000000005],
 ['', 3236984.0000000005],
 ['', 3237984.0000000005],
 ['', 3238984.0000000005],
 ['', 3239984.0000000005],
 ['160', 3240984.0000000005],
 ['162', 3241984.0000000005],
 ['164', 3242984.0000000005],
 ['', 3243984.0000000005],
 ['', 3244984.0000000005],

In [189]:
df=pd.DataFrame(datalist)
df.head()

        0      1      2          3
0   0 vsQ  0/0/0  00:20  2314984.0
1          0/0/0  00:21  2315984.0
2  0 vs 0  0/0/0  00:22  2316984.0
3   0 vsO  0/0/0  00:23  2317984.0
4    Us _  0/0/0  00:24  2318984.0

In [190]:
# kda 제대로 출력되었는지 확인. 세 값이 모두 있지 않을경우 Na처리.
for i in range(len(df)):
    if len(df[1][i].split('/'))!=3:
        df[1][i]=np.nan

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [191]:
# score를 vs 기준으로 나누고, kda를 / 기준으로 나눠서 새로운 col 생성
df['fr']=df[0].str.split('vs').str[0]
df['en']=df[0].str.split('vs').str[1]
df['k']=df[1].str.split('/').str[0]
df['d']=df[1].str.split('/').str[1]
df['a']=df[1].str.split('/').str[2]

In [192]:
df

             0        1      2          3    fr   en   k  d   a
0        0 vsQ    0/0/0  00:20  2314984.0    0     Q   0  0   0
1                 0/0/0  00:21  2315984.0        NaN   0  0   0
2       0 vs 0    0/0/0  00:22  2316984.0    0     0   0  0   0
3        0 vsO    0/0/0  00:23  2317984.0    0     O   0  0   0
4         Us _    0/0/0  00:24  2318984.0  Us _  NaN   0  0   0
...        ...      ...    ...        ...   ...  ...  .. ..  ..
2196            14/5/17  36:56  4510984.0        NaN  14  5  17
2197            14/5/17  36:57  4511984.0        NaN  14  5  17
2198  39 vs AZ  14/5/1)  36:58  4512984.0   39    AZ  14  5  1)
2199  39 vs AZ  14/5/1)  36:59  4513984.0   39    AZ  14  5  1)
2200  39 vs A?  14/5/17  37:00  4514984.0   39    A?  14  5  17

[2201 rows x 9 columns]

In [193]:
# object 타입을 숫자로 변환. 숫자가 아닐시 강제로(Na)
df['fr']=pd.to_numeric(df['fr'], errors='coerce')
df['en']=pd.to_numeric(df['en'], errors='coerce')
df['k']=pd.to_numeric(df['k'], errors='coerce')
df['d']=pd.to_numeric(df['d'], errors='coerce')
df['a']=pd.to_numeric(df['a'], errors='coerce')
df

             0        1      2          3    fr   en     k    d     a
0        0 vsQ    0/0/0  00:20  2314984.0   0.0  NaN   0.0  0.0   0.0
1                 0/0/0  00:21  2315984.0   NaN  NaN   0.0  0.0   0.0
2       0 vs 0    0/0/0  00:22  2316984.0   0.0  0.0   0.0  0.0   0.0
3        0 vsO    0/0/0  00:23  2317984.0   0.0  NaN   0.0  0.0   0.0
4         Us _    0/0/0  00:24  2318984.0   NaN  NaN   0.0  0.0   0.0
...        ...      ...    ...        ...   ...  ...   ...  ...   ...
2196            14/5/17  36:56  4510984.0   NaN  NaN  14.0  5.0  17.0
2197            14/5/17  36:57  4511984.0   NaN  NaN  14.0  5.0  17.0
2198  39 vs AZ  14/5/1)  36:58  4512984.0  39.0  NaN  14.0  5.0   NaN
2199  39 vs AZ  14/5/1)  36:59  4513984.0  39.0  NaN  14.0  5.0   NaN
2200  39 vs A?  14/5/17  37:00  4514984.0  39.0  NaN  14.0  5.0  17.0

[2201 rows x 9 columns]

In [137]:
# ffill을 통해 nan값 채워주기
# df['k'].fillna(method='bfill', inplace=True)
# df['d'].fillna(method='bfill', inplace=True)
# df['a'].fillna(method='bfill', inplace=True)
# df['fr'].fillna(method='bfill', inplace=True)
# df['en'].fillna(method='bfill', inplace=True)
# df

             0        1      2          3    fr   en     k    d     a
0        0 vsQ    0/0/0  00:20  2314984.0   0.0  0.0   0.0  0.0   0.0
1                 0/0/0  00:21  2315984.0   0.0  0.0   0.0  0.0   0.0
2       0 vs 0    0/0/0  00:22  2316984.0   0.0  0.0   0.0  0.0   0.0
3        0 vsO    0/0/0  00:23  2317984.0   0.0  0.0   0.0  0.0   0.0
4         Us _    0/0/0  00:24  2318984.0   0.0  0.0   0.0  0.0   0.0
...        ...      ...    ...        ...   ...  ...   ...  ...   ...
2196            14/5/17  36:56  4510984.0  39.0  NaN  14.0  5.0  17.0
2197            14/5/17  36:57  4511984.0  39.0  NaN  14.0  5.0  17.0
2198  39 vs AZ  14/5/1)  36:58  4512984.0  39.0  NaN  14.0  5.0  17.0
2199  39 vs AZ  14/5/1)  36:59  4513984.0  39.0  NaN  14.0  5.0  17.0
2200  39 vs A?  14/5/17  37:00  4514984.0  39.0  NaN  14.0  5.0  17.0

[2201 rows x 9 columns]

In [138]:
# df['k'].fillna(method='ffill', inplace=True)
# df['d'].fillna(method='ffill', inplace=True)
# df['a'].fillna(method='ffill', inplace=True)
# df['fr'].fillna(method='ffill', inplace=True)
# df['en'].fillna(method='ffill', inplace=True)
# df

             0        1      2          3    fr    en     k    d     a
0        0 vsQ    0/0/0  00:20  2314984.0   0.0   0.0   0.0  0.0   0.0
1                 0/0/0  00:21  2315984.0   0.0   0.0   0.0  0.0   0.0
2       0 vs 0    0/0/0  00:22  2316984.0   0.0   0.0   0.0  0.0   0.0
3        0 vsO    0/0/0  00:23  2317984.0   0.0   0.0   0.0  0.0   0.0
4         Us _    0/0/0  00:24  2318984.0   0.0   0.0   0.0  0.0   0.0
...        ...      ...    ...        ...   ...   ...   ...  ...   ...
2196            14/5/17  36:56  4510984.0  39.0  41.0  14.0  5.0  17.0
2197            14/5/17  36:57  4511984.0  39.0  41.0  14.0  5.0  17.0
2198  39 vs AZ  14/5/1)  36:58  4512984.0  39.0  41.0  14.0  5.0  17.0
2199  39 vs AZ  14/5/1)  36:59  4513984.0  39.0  41.0  14.0  5.0  17.0
2200  39 vs A?  14/5/17  37:00  4514984.0  39.0  41.0  14.0  5.0  17.0

[2201 rows x 9 columns]

In [194]:
df['time']=df[3].map(lambda x : str(datetime.timedelta(milliseconds=x-984)))
df.head()

        0      1      2          3   fr   en    k    d    a     time
0   0 vsQ  0/0/0  00:20  2314984.0  0.0  NaN  0.0  0.0  0.0  0:38:34
1          0/0/0  00:21  2315984.0  NaN  NaN  0.0  0.0  0.0  0:38:35
2  0 vs 0  0/0/0  00:22  2316984.0  0.0  0.0  0.0  0.0  0.0  0:38:36
3   0 vsO  0/0/0  00:23  2317984.0  0.0  NaN  0.0  0.0  0.0  0:38:37
4    Us _  0/0/0  00:24  2318984.0  NaN  NaN  0.0  0.0  0.0  0:38:38

In [195]:
df.set_index('time', inplace=True)
df.head()

              0      1      2          3   fr   en    k    d    a
time
0:38:34   0 vsQ  0/0/0  00:20  2314984.0  0.0  NaN  0.0  0.0  0.0
0:38:35          0/0/0  00:21  2315984.0  NaN  NaN  0.0  0.0  0.0
0:38:36  0 vs 0  0/0/0  00:22  2316984.0  0.0  0.0  0.0  0.0  0.0
0:38:37   0 vsO  0/0/0  00:23  2317984.0  0.0  NaN  0.0  0.0  0.0
0:38:38    Us _  0/0/0  00:24  2318984.0  NaN  NaN  0.0  0.0  0.0

In [141]:
# for i in range(len(timedata)) :
#     timedata[i] = timedata[i][1:]

In [142]:
timedata

['0:00:04',
 '0:00:05',
 '0:00:07',
 '0:00:07',
 '0:00:08',
 '0:00:09',
 '0:00:12',
 '0:00:19',
 '0:00:19',
 '0:00:21',
 '0:00:34',
 '0:00:34',
 '0:00:39',
 '0:00:41',
 '0:00:42',
 '0:00:45',
 '0:00:47',
 '0:00:47',
 '0:00:48',
 '0:00:49',
 '0:00:51',
 '0:00:52',
 '0:00:55',
 '0:00:56',
 '0:00:58',
 '0:01:01',
 '0:01:02',
 '0:01:02',
 '0:01:03',
 '0:01:06',
 '0:01:06',
 '0:01:07',
 '0:01:08',
 '0:01:08',
 '0:01:09',
 '0:01:11',
 '0:01:12',
 '0:01:12',
 '0:01:13',
 '0:01:14',
 '0:01:14',
 '0:01:14',
 '0:01:15',
 '0:01:15',
 '0:01:16',
 '0:01:16',
 '0:01:16',
 '0:01:18',
 '0:01:19',
 '0:01:19',
 '0:01:20',
 '0:01:20',
 '0:01:20',
 '0:01:21',
 '0:01:21',
 '0:01:22',
 '0:01:22',
 '0:01:22',
 '0:01:22',
 '0:01:23',
 '0:01:24',
 '0:01:26',
 '0:01:26',
 '0:01:26',
 '0:01:26',
 '0:01:28',
 '0:01:28',
 '0:01:28',
 '0:01:29',
 '0:01:29',
 '0:01:30',
 '0:01:30',
 '0:01:30',
 '0:01:31',
 '0:01:32',
 '0:01:33',
 '0:01:33',
 '0:01:33',
 '0:01:33',
 '0:01:34',
 '0:01:34',
 '0:01:37',
 '0:01:37',
 '0:01:37',
 '0:01:38',
 '0:01:38',
 '0:01:38',
 '0:01:39',
 '0:01:39',
 '0:01:40',
 '0:01:41',
 '0:01:41',
 '0:01:43',
 '0:01:43',
 '0:01:45',
 '0:01:45',
 '0:01:45',
 '0:01:46',
 '0:01:46',
 '0:01:46',
 '0:01:48',
 '0:01:48',
 '0:01:48',
 '0:01:48',
 '0:01:48',
 '0:01:49',
 '0:01:49',
 '0:01:51',
 '0:01:51',
 '0:01:53',
 '0:01:53',
 '0:01:53',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:55',
 '0:01:56',
 '0:01:56',
 '0:01:57',
 '0:01:58',
 '0:01:59',
 '0:01:59',
 '0:01:59',
 '0:02:00',
 '0:02:01',
 '0:02:02',
 '0:02:02',
 '0:02:03',
 '0:02:04',
 '0:02:05',
 '0:02:06',
 '0:02:06',
 '0:02:07',
 '0:02:07',
 '0:02:07',
 '0:02:08',
 '0:02:08',
 '0:02:08',
 '0:02:10',
 '0:02:10',
 '0:02:11',
 '0:02:11',
 '0:02:11',
 '0:02:13',
 '0:02:15',
 '0:02:15',
 '0:02:15',
 '0:02:15',
 '0:02:16',
 '0:02:16',
 '0:02:16',
 '0:02:17',
 '0:02:18',
 '0:02:19',
 '0:02:19',
 '0:02:19',
 '0:02:20',
 '0:02:20',
 '0:02:20',
 '0:02:20',
 '0:02:21',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:24',
 '0:02:24',
 '0:02:24',
 '0:02:25',
 '0:02:25',
 '0:02:25',
 '0:02:25',
 '0:02:26',
 '0:02:27',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:29',
 '0:02:29',
 '0:02:29',
 '0:02:30',
 '0:02:31',
 '0:02:31',
 '0:02:31',
 '0:02:31',
 '0:02:33',
 '0:02:33',
 '0:02:34',
 '0:02:35',
 '0:02:35',
 '0:02:38',
 '0:02:39',
 '0:02:39',
 '0:02:40',
 '0:02:40',
 '0:02:40',
 '0:02:41',
 '0:02:41',
 '0:02:41',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:43',
 '0:02:43',
 '0:02:43',
 '0:02:43',
 '0:02:44',
 '0:02:44',
 '0:02:45',
 '0:02:45',
 '0:02:45',
 '0:02:45',
 '0:02:47',
 '0:02:48',
 '0:02:48',
 '0:02:48',
 '0:02:48',
 '0:02:48',
 '0:02:49',
 '0:02:49',
 '0:02:49',
 '0:02:49',
 '0:02:49',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:51',
 '0:02:52',
 '0:02:52',
 '0:02:53',
 '0:02:53',
 '0:02:53',
 '0:02:54',
 '0:02:54',
 '0:02:55',
 '0:02:55',
 '0:02:56',
 '0:02:56',
 '0:02:57',
 '0:02:57',
 '0:02:57',
 '0:02:58',
 '0:02:58',
 '0:02:59',
 '0:02:59',
 '0:02:59',
 '0:02:59',
 '0:03:00',
 '0:03:00',
 '0:03:00',
 '0:03:01',
 '0:03:01',
 '0:03:02',
 '0:03:02',
 '0:03:03',
 '0:03:03',
 '0:03:03',
 '0:03:03',
 '0:03:04',
 '0:03:04',
 '0:03:04',
 '0:03:04',
 '0:03:05',
 '0:03:05',
 '0:03:06',
 '0:03:06',
 '0:03:06',
 '0:03:07',
 '0:03:07',
 '0:03:07',
 '0:03:08',
 '0:03:08',
 '0:03:08',
 '0:03:08',
 '0:03:08',
 '0:03:09',
 '0:03:10',
 '0:03:10',
 '0:03:10',
 '0:03:11',
 '0:03:11',
 '0:03:11',
 '0:03:11',
 '0:03:12',
 '0:03:12',
 '0:03:13',
 '0:03:13',
 '0:03:13',
 '0:03:14',
 '0:03:14',
 '0:03:14',
 '0:03:15',
 '0:03:15',
 '0:03:15',
 '0:03:15',
 '0:03:16',
 '0:03:16',
 '0:03:16',
 '0:03:17',
 '0:03:17',
 '0:03:17',
 '0:03:17',
 '0:03:17',
 '0:03:18',
 '0:03:18',
 '0:03:18',
 '0:03:18',
 '0:03:19',
 '0:03:19',
 '0:03:19',
 '0:03:20',
 '0:03:20',
 '0:03:20',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:22',
 '0:03:22',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:24',
 '0:03:24',
 '0:03:24',
 '0:03:25',
 '0:03:25',
 '0:03:25',
 '0:03:25',
 '0:03:25',
 '0:03:26',
 '0:03:26',
 '0:03:27',
 '0:03:27',
 '0:03:28',
 '0:03:28',
 '0:03:28',
 '0:03:29',
 '0:03:29',
 '0:03:30',
 '0:03:30',
 '0:03:30',
 '0:03:31',
 '0:03:32',
 '0:03:33',
 '0:03:33',
 '0:03:33',
 '0:03:33',
 '0:03:34',
 '0:03:34',
 '0:03:35',
 '0:03:35',
 '0:03:35',
 '0:03:35',
 '0:03:36',
 '0:03:36',
 '0:03:36',
 '0:03:36',
 '0:03:36',
 '0:03:37',
 '0:03:37',
 '0:03:37',
 '0:03:37',
 '0:03:37',
 '0:03:38',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:40',
 '0:03:40',
 '0:03:40',
 '0:03:40',
 '0:03:40',
 '0:03:41',
 '0:03:41',
 '0:03:41',
 '0:03:42',
 '0:03:42',
 '0:03:42',
 '0:03:43',
 '0:03:43',
 '0:03:43',
 '0:03:44',
 '0:03:44',
 '0:03:44',
 '0:03:44',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:48',
 '0:03:48',
 '0:03:49',
 '0:03:50',
 '0:03:50',
 '0:03:50',
 '0:03:51',
 '0:03:51',
 '0:03:51',
 '0:03:51',
 '0:03:51',
 '0:03:52',
 '0:03:53',
 '0:03:53',
 '0:03:53',
 '0:03:54',
 '0:03:54',
 '0:03:54',
 '0:03:55',
 '0:03:55',
 '0:03:55',
 '0:03:55',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:57',
 '0:03:58',
 '0:03:58',
 '0:03:59',
 '0:03:59',
 '0:03:59',
 '0:04:00',
 '0:04:00',
 '0:04:00',
 '0:04:00',
 '0:04:00',
 '0:04:01',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:03',
 '0:04:04',
 '0:04:04',
 '0:04:05',
 '0:04:07',
 '0:04:07',
 '0:04:07',
 '0:04:08',
 '0:04:08',
 '0:04:08',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:10',
 '0:04:10',
 '0:04:10',
 '0:04:11',
 '0:04:11',
 '0:04:12',
 '0:04:12',
 '0:04:13',
 '0:04:13',
 '0:04:13',
 '0:04:13',
 '0:04:14',
 '0:04:14',
 '0:04:14',
 '0:04:14',
 '0:04:15',
 '0:04:15',
 '0:04:16',
 '0:04:17',
 '0:04:17',
 '0:04:18',
 '0:04:18',
 '0:04:19',
 '0:04:19',
 '0:04:20',
 '0:04:21',
 '0:04:21',
 '0:04:21',
 '0:04:22',
 '0:04:22',
 '0:04:22',
 '0:04:22',
 '0:04:23',
 '0:04:24',
 '0:04:24',
 '0:04:24',
 '0:04:24',
 '0:04:25',
 '0:04:25',
 '0:04:25',
 '0:04:25',
 '0:04:25',
 '0:04:26',
 '0:04:26',
 '0:04:26',
 '0:04:26',
 '0:04:28',
 '0:04:28',
 '0:04:28',
 '0:04:29',
 '0:04:29',
 '0:04:30',
 '0:04:31',
 '0:04:32',
 '0:04:33',
 '0:04:33',
 '0:04:33',
 '0:04:34',
 '0:04:34',
 '0:04:35',
 '0:04:35',
 '0:04:35',
 '0:04:35',
 '0:04:35',
 '0:04:36',
 '0:04:36',
 '0:04:36',
 '0:04:36',
 '0:04:37',
 '0:04:37',
 '0:04:37',
 '0:04:37',
 '0:04:38',
 '0:04:38',
 '0:04:38',
 '0:04:39',
 '0:04:39',
 '0:04:40',
 '0:04:41',
 '0:04:41',
 '0:04:41',
 '0:04:41',
 '0:04:42',
 '0:04:42',
 '0:04:42',
 '0:04:45',
 '0:04:45',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:47',
 '0:04:47',
 '0:04:47',
 '0:04:47',
 '0:04:47',
 '0:04:48',
 '0:04:49',
 '0:04:49',
 '0:04:49',
 '0:04:49',
 '0:04:50',
 '0:04:50',
 '0:04:50',
 '0:04:50',
 '0:04:50',
 '0:04:51',
 '0:04:52',
 '0:04:52',
 '0:04:52',
 '0:04:53',
 '0:04:53',
 '0:04:53',
 '0:04:54',
 '0:04:55',
 '0:04:56',
 '0:04:56',
 '0:04:56',
 '0:04:58',
 '0:04:58',
 '0:04:58',
 '0:04:59',
 '0:04:59',
 '0:04:59',
 '0:05:00',
 '0:05:00',
 '0:05:00',
 '0:05:00',
 '0:05:01',
 '0:05:02',
 '0:05:02',
 '0:05:02',
 '0:05:03',
 '0:05:03',
 '0:05:03',
 '0:05:04',
 '0:05:04',
 '0:05:04',
 '0:05:04',
 '0:05:04',
 '0:05:05',
 '0:05:05',
 '0:05:06',
 '0:05:07',
 '0:05:07',
 '0:05:08',
 '0:05:08',
 '0:05:09',
 '0:05:09',
 '0:05:09',
 '0:05:10',
 '0:05:11',
 '0:05:11',
 '0:05:11',
 '0:05:11',
 '0:05:11',
 '0:05:12',
 '0:05:12',
 '0:05:13',
 '0:05:13',
 '0:05:13',
 '0:05:14',
 '0:05:14',
 '0:05:14',
 '0:05:14',
 '0:05:15',
 '0:05:15',
 '0:05:16',
 '0:05:17',
 '0:05:17',
 '0:05:17',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:20',
 '0:05:21',
 '0:05:22',
 '0:05:22',
 '0:05:22',
 '0:05:22',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:24',
 '0:05:24',
 '0:05:25',
 '0:05:25',
 '0:05:26',
 '0:05:26',
 '0:05:27',
 '0:05:28',
 '0:05:28',
 '0:05:29',
 '0:05:29',
 '0:05:29',
 '0:05:30',
 '0:05:30',
 '0:05:30',
 '0:05:31',
 '0:05:31',
 '0:05:31',
 '0:05:31',
 '0:05:32',
 '0:05:33',
 '0:05:33',
 '0:05:33',
 '0:05:34',
 '0:05:34',
 '0:05:35',
 '0:05:35',
 '0:05:35',
 '0:05:35',
 '0:05:36',
 '0:05:36',
 '0:05:36',
 '0:05:38',
 '0:05:38',
 '0:05:38',
 '0:05:38',
 '0:05:39',
 '0:05:39',
 '0:05:39',
 '0:05:40',
 '0:05:40',
 '0:05:40',
 '0:05:41',
 '0:05:42',
 '0:05:42',
 '0:05:43',
 '0:05:43',
 '0:05:44',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:46',
 '0:05:46',
 '0:05:47',
 '0:05:47',
 '0:05:47',
 '0:05:48',
 '0:05:49',
 '0:05:49',
 '0:05:49',
 '0:05:50',
 '0:05:51',
 '0:05:52',
 '0:05:52',
 '0:05:53',
 '0:05:53',
 '0:05:53',
 '0:05:53',
 '0:05:54',
 '0:05:54',
 '0:05:54',
 '0:05:54',
 '0:05:57',
 '0:05:57',
 '0:05:57',
 '0:05:57',
 '0:05:57',
 '0:05:58',
 '0:05:59',
 '0:06:00',
 '0:06:01',
 '0:06:01',
 '0:06:01',
 '0:06:01',
 '0:06:02',
 '0:06:03',
 '0:06:03',
 '0:06:04',
 '0:06:05',
 '0:06:05',
 '0:06:06',
 '0:06:06',
 '0:06:07',
 '0:06:07',
 '0:06:09',
 '0:06:09',
 '0:06:09',
 '0:06:10',
 '0:06:10',
 '0:06:11',
 '0:06:11',
 '0:06:11',
 '0:06:12',
 '0:06:13',
 '0:06:13',
 '0:06:13',
 '0:06:13',
 '0:06:15',
 '0:06:15',
 '0:06:15',
 '0:06:16',
 '0:06:16',
 '0:06:18',
 '0:06:18',
 '0:06:18',
 '0:06:19',
 '0:06:19',
 '0:06:19',
 '0:06:20',
 '0:06:20',
 '0:06:20',
 '0:06:21',
 '0:06:21',
 '0:06:21',
 '0:06:21',
 '0:06:21',
 '0:06:22',
 '0:06:24',
 '0:06:24',
 '0:06:24',
 '0:06:25',
 '0:06:25',
 '0:06:25',
 '0:06:26',
 '0:06:27',
 '0:06:27',
 '0:06:27',
 '0:06:27',
 '0:06:28',
 '0:06:28',
 '0:06:28',
 '0:06:28',
 '0:06:28',
 '0:06:29',
 '0:06:30',
 '0:06:30',
 '0:06:30',
 '0:06:31',
 '0:06:31',
 '0:06:32',
 '0:06:32',
 '0:06:33',
 '0:06:34',
 '0:06:34',
 '0:06:35',
 '0:06:35',
 '0:06:36',
 '0:06:37',
 '0:06:38',
 '0:06:38',
 '0:06:38',
 '0:06:38',
 '0:06:42',
 '0:06:42',
 '0:06:42',
 '0:06:43',
 '0:06:44',
 '0:06:44',
 '0:06:46',
 '0:06:46',
 '0:06:47',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:51',
 '0:06:51',
 '0:06:51',
 '0:06:51',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:53',
 '0:06:53',
 '0:06:53',
 '0:06:53',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:55',
 '0:06:55',
 '0:06:57',
 '0:06:57',
 '0:06:57',
 '0:06:57',
 '0:06:58',
 '0:06:58',
 '0:06:58',
 '0:07:00',
 '0:07:00',
 '0:07:01',
 '0:07:01',
 '0:07:01',
 '0:07:01',
 '0:07:02',
 '0:07:02',
 '0:07:02',
 '0:07:02',
 '0:07:02',
 '0:07:03',
 '0:07:03',
 '0:07:03',
 '0:07:03',
 '0:07:04',
 '0:07:04',
 '0:07:05',
 '0:07:05',
 '0:07:05',
 '0:07:05',
 '0:07:05',
 '0:07:07',
 '0:07:08',
 '0:07:08',
 '0:07:09',
 '0:07:09',
 '0:07:11',
 '0:07:11',
 '0:07:11',
 '0:07:12',
 '0:07:12',
 '0:07:12',
 '0:07:13',
 '0:07:13',
 '0:07:13',
 '0:07:14',
 '0:07:14',
 '0:07:15',
 '0:07:15',
 '0:07:16',
 '0:07:16',
 '0:07:16',
 '0:07:17',
 '0:07:17',
 '0:07:17',
 '0:07:18',
 '0:07:18',
 '0:07:19',
 '0:07:19',
 '0:07:19',
 '0:07:20',
 '0:07:20',
 '0:07:22',
 '0:07:22',
 '0:07:22',
 '0:07:23',
 '0:07:23',
 '0:07:23',
 '0:07:23',
 '0:07:24',
 '0:07:24',
 '0:07:25',
 '0:07:25',
 '0:07:25',
 '0:07:25',
 '0:07:26',
 '0:07:27',
 '0:07:27',
 '0:07:27',
 '0:07:27',
 '0:07:28',
 '0:07:28',
 '0:07:29',
 '0:07:30',
 '0:07:30',
 '0:07:32',
 '0:07:33',
 '0:07:35',
 '0:07:35',
 '0:07:35',
 '0:07:35',
 '0:07:36',
 '0:07:36',
 '0:07:36',
 '0:07:36',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 ...]

In [196]:
timeseries = pd.Series(timedata)

In [197]:
timeseries

0        0:00:04
1        0:00:05
2        0:00:07
3        0:00:07
4        0:00:08
          ...
26391    2:24:01
26392    2:24:01
26393    2:24:01
26394    2:24:02
26395    2:24:02
Length: 26396, dtype: object

In [198]:
df2 = pd.DataFrame(index=timeseries.unique())

In [199]:
timeseries.value_counts()

2:00:02    15
1:26:21    15
1:44:30    15
2:09:52    15
2:11:14    15
           ..
1:05:50     1
1:06:54     1
1:05:32     1
1:57:14     1
1:18:56     1
Length: 7668, dtype: int64

In [200]:
df2['count'] = timeseries.value_counts()

In [201]:
df2.index.name = 'time'

In [202]:
df2.head()

         count
time
0:00:04      1
0:00:05      1
0:00:07      2
0:00:08      1
0:00:09      1

In [203]:
df3 = pd.merge(df,df2,on='time')

In [204]:
df3.head()

              0      1      2          3   fr   en    k    d    a  count
time
0:38:35          0/0/0  00:21  2315984.0  NaN  NaN  0.0  0.0  0.0      1
0:38:36  0 vs 0  0/0/0  00:22  2316984.0  0.0  0.0  0.0  0.0  0.0      4
0:38:37   0 vsO  0/0/0  00:23  2317984.0  0.0  NaN  0.0  0.0  0.0      2
0:38:39   0 vsO  0/0/0  00:25  2319984.0  0.0  NaN  0.0  0.0  0.0      6
0:38:40    OvsQ  0/0/0  00:26  2320984.0  NaN  NaN  0.0  0.0  0.0      6

In [205]:
df3.tail()

                0        1      2          3    fr  en     k    d     a  count
time
1:15:10            14/5/17  36:56  4510984.0   NaN NaN  14.0  5.0  17.0      2
1:15:11            14/5/17  36:57  4511984.0   NaN NaN  14.0  5.0  17.0      4
1:15:12  39 vs AZ  14/5/1)  36:58  4512984.0  39.0 NaN  14.0  5.0   NaN      5
1:15:13  39 vs AZ  14/5/1)  36:59  4513984.0  39.0 NaN  14.0  5.0   NaN      3
1:15:14  39 vs A?  14/5/17  37:00  4514984.0  39.0 NaN  14.0  5.0  17.0      3

In [206]:
df3.describe()

,3,fr,en,k,d,a,count
count,1.954000e+03,1337.000000,1457.000000,1951.000000,1948.000000,1936.000000,1954.000000
mean,3.413244e+06,23.376664,19.064434,5.485905,2.929671,2.889979,3.307574
std,6.367273e+05,24.482905,11.051447,4.470264,1.938363,3.364626,2.502855
min,2.315984e+06,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.860234e+06,15.000000,10.000000,1.000000,1.000000,0.000000,2.000000
50%,3.405484e+06,22.000000,19.000000,8.000000,3.000000,1.000000,3.000000
75%,3.964484e+06,33.000000,25.000000,8.000000,5.000000,5.000000,4.000000
max,4.514984e+06,715.000000,41.000000,14.000000,5.000000,17.000000,15.000000

In [207]:
print(df3['fr'].unique())
print(df3['en'].unique())
print(df3['k'].unique())
print(df3['d'].unique())
print(df3['a'].unique())

[  nan   0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.
 110.   11.   17.   14.   12.   13.   15.  715.   16.  146.    1.6  18.
  19.   20.   21.   22.   24.   25.   26.   27.   28.   29.   30.   34.
 371.   31.   37.   32.   33.   35.   36.   46.   39. ]
[  nan  0.    1.    2.    3.    4.    5.    6.    7.    9.   10.   11.
 12.   13.   14.   15.   16.   17.   18.    0.18 19.   20.   21.   22.
 23.   24.   25.   26.   27.   28.   29.   30.   31.   32.   33.    0.33
 34.   35.   36.   37.    0.37 39.   40.   41.  ]
[ 0.  1.  2.  3. nan  4.  9.  6.  7.  8. 10. 11. 12. 13. 14.]
[ 0.  1. nan  2.  3.  4.  5.]
[ 0.  1. 11. nan  2.  3.  4.  5.  6.  7.  8.  9. 17.]

In [208]:
print(df3['fr'].unique())
print(df3['en'].unique())

[  nan   0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.
 110.   11.   17.   14.   12.   13.   15.  715.   16.  146.    1.6  18.
  19.   20.   21.   22.   24.   25.   26.   27.   28.   29.   30.   34.
 371.   31.   37.   32.   33.   35.   36.   46.   39. ]
[  nan  0.    1.    2.    3.    4.    5.    6.    7.    9.   10.   11.
 12.   13.   14.   15.   16.   17.   18.    0.18 19.   20.   21.   22.
 23.   24.   25.   26.   27.   28.   29.   30.   31.   32.   33.    0.33
 34.   35.   36.   37.    0.37 39.   40.   41.  ]

In [211]:
df3.to_excel('df3.xlsx')

In [209]:
df3['kda'] = df3['k']+df3['d']+df3['a']

In [210]:
df3

,0,1,2,3,fr,en,k,d,a,count,kda
time,,,,,,,,,,,
0:38:35,,0/0/0,00:21,2315984.0,NaN,NaN,0.0,0.0,0.0,1,0.0
0:38:36,0 vs 0,0/0/0,00:22,2316984.0,0.0,0.0,0.0,0.0,0.0,4,0.0
0:38:37,0 vsO,0/0/0,00:23,2317984.0,0.0,NaN,0.0,0.0,0.0,2,0.0
0:38:39,0 vsO,0/0/0,00:25,2319984.0,0.0,NaN,0.0,0.0,0.0,6,0.0
0:38:40,OvsQ,0/0/0,00:26,2320984.0,NaN,NaN,0.0,0.0,0.0,6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1:15:10,,14/5/17,36:56,4510984.0,NaN,NaN,14.0,5.0,17.0,2,36.0
1:15:11,,14/5/17,36:57,4511984.0,NaN,NaN,14.0,5.0,17.0,4,36.0
1:15:12,39 vs AZ,14/5/1),36:58,4512984.0,39.0,NaN,14.0,5.0,NaN,5,NaN
1:15:13,39 vs AZ,14/5/1),36:59,4513984.0,39.0,NaN,14.0,5.0,NaN,3,NaN
1:15:14,39 vs A?,14/5/17,37:00,4514984.0,39.0,NaN,14.0,5.0,17.0,3,36.0

In [212]:
exdf = df3.copy()

In [250]:
exdf

,0,1,2,3,fr,en,k,d,a,count,kda,d_kda
time,,,,,,,,,,,,
0:38:35,,0/0/0,00:21,2315984.0,NaN,NaN,0.0,0.0,0.0,1,0.0,0.0
0:38:36,0 vs 0,0/0/0,00:22,2316984.0,0.0,0.0,0.0,0.0,0.0,4,0.0,NaN
0:38:37,0 vsO,0/0/0,00:23,2317984.0,0.0,NaN,0.0,0.0,0.0,2,0.0,0.0
0:38:39,0 vsO,0/0/0,00:25,2319984.0,0.0,NaN,0.0,0.0,0.0,6,0.0,0.0
0:38:40,OvsQ,0/0/0,00:26,2320984.0,NaN,NaN,0.0,0.0,0.0,6,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1:15:10,,14/5/17,36:56,4510984.0,NaN,NaN,14.0,5.0,17.0,2,36.0,0.0
1:15:11,,14/5/17,36:57,4511984.0,NaN,NaN,14.0,5.0,17.0,4,36.0,0.0
1:15:12,39 vs AZ,14/5/1),36:58,4512984.0,39.0,NaN,14.0,5.0,NaN,5,NaN,NaN
1:15:13,39 vs AZ,14/5/1),36:59,4513984.0,39.0,NaN,14.0,5.0,NaN,3,NaN,NaN
1:15:14,39 vs A?,14/5/17,37:00,4514984.0,39.0,NaN,14.0,5.0,17.0,3,36.0,0.0

In [217]:
exdf['d_kda']=pd.Series()

In [219]:
for i in reversed(range(len(exdf))):
#     print(i)
    exdf['d_kda'][i] = exdf['kda'][i]-exdf['kda'][i-15]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [188]:
print(exdf['fr'].unique())
print(exdf['en'].unique())
print(exdf['k'].unique())
print(exdf['d'].unique())
print(exdf['a'].unique())

[  0.    1.    2.    3.    4.    5.    6.    7.    8.    9.   10.  110.
  11.   17.   14.   12.   13.   15.  715.   16.  146.    1.6  18.   19.
  20.   21.   22.   24.   25.   26.   27.   23.   28.   29.   30.   34.
 371.   31.   37.   32.   33.   35.   36.   46.   39. ]
[ 0.    1.    2.    3.    4.    5.    6.    7.    9.   10.   11.   12.
 13.   14.   15.   16.   17.   18.    0.18 19.   20.   21.   22.   23.
 24.   25.   26.   27.   28.   29.   30.   31.   32.   33.    0.33 34.
 35.   36.   37.    0.37 39.   40.   41.  ]
[ 0.  1.  2.  3.  4.  9.  6.  7.  8. 10. 11. 12. 13. 14.]
[0. 1. 2. 3. 4. 5.]
[ 0.  1. 11.  2.  3.  4.  5.  6.  7.  8.  9. 17.]

In [247]:
exdf['d_kda'][exdf['d_kda']>5] = 0
exdf['d_kda'][exdf['d_kda']<0] = 0

In [251]:
exdf['d_k']=pd.Series()
for i in reversed(range(len(exdf))):
#     print(i)
    exdf['d_k'][i] = exdf['k'][i]-exdf['k'][i-15]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [253]:
exdf['d_d']=pd.Series()
for i in reversed(range(len(exdf))):
#     print(i)
    exdf['d_d'][i] = exdf['d'][i]-exdf['d'][i-15]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [254]:
exdf['d_a']=pd.Series()
for i in reversed(range(len(exdf))):
#     print(i)
    exdf['d_a'][i] = exdf['a'][i]-exdf['a'][i-15]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [256]:
exdf['d_k'][exdf['d_k']>5] = 0
exdf['d_k'][exdf['d_k']<0] = 0
exdf['d_d'][exdf['d_d']>5] = 0
exdf['d_d'][exdf['d_d']<0] = 0
exdf['d_a'][exdf['d_a']>5] = 0
exdf['d_a'][exdf['d_a']<0] = 0

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [257]:
exdf

,0,1,2,3,fr,en,k,d,a,count,kda,d_kda,d_k,d_d,d_a
time,,,,,,,,,,,,,,,
0:38:35,,0/0/0,00:21,2315984.0,NaN,NaN,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0
0:38:36,0 vs 0,0/0/0,00:22,2316984.0,0.0,0.0,0.0,0.0,0.0,4,0.0,NaN,0.0,0.0,NaN
0:38:37,0 vsO,0/0/0,00:23,2317984.0,0.0,NaN,0.0,0.0,0.0,2,0.0,0.0,0.0,0.0,0.0
0:38:39,0 vsO,0/0/0,00:25,2319984.0,0.0,NaN,0.0,0.0,0.0,6,0.0,0.0,0.0,0.0,0.0
0:38:40,OvsQ,0/0/0,00:26,2320984.0,NaN,NaN,0.0,0.0,0.0,6,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1:15:10,,14/5/17,36:56,4510984.0,NaN,NaN,14.0,5.0,17.0,2,36.0,0.0,0.0,0.0,0.0
1:15:11,,14/5/17,36:57,4511984.0,NaN,NaN,14.0,5.0,17.0,4,36.0,0.0,0.0,0.0,0.0
1:15:12,39 vs AZ,14/5/1),36:58,4512984.0,39.0,NaN,14.0,5.0,NaN,5,NaN,NaN,0.0,0.0,NaN
1:15:13,39 vs AZ,14/5/1),36:59,4513984.0,39.0,NaN,14.0,5.0,NaN,3,NaN,NaN,0.0,0.0,NaN
1:15:14,39 vs A?,14/5/17,37:00,4514984.0,39.0,NaN,14.0,5.0,17.0,3,36.0,0.0,0.0,0.0,0.0

In [260]:
exdf['d_k'].fillna(method='ffill', inplace=True)
exdf['d_d'].fillna(method='ffill', inplace=True)
exdf['d_a'].fillna(method='ffill', inplace=True)

In [262]:
exdf['n_chat']=pd.Series()

In [264]:
sum(exdf['count'][1:5])

18

In [268]:
for i in range(len(exdf)):
    exdf['n_chat'][i] = sum(exdf['count'][i:i+15])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [269]:
exdf

,0,1,2,3,fr,en,k,d,a,count,kda,d_kda,d_k,d_d,d_a,n_chat
time,,,,,,,,,,,,,,,,
0:38:35,,0/0/0,00:21,2315984.0,NaN,NaN,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,67
0:38:36,0 vs 0,0/0/0,00:22,2316984.0,0.0,0.0,0.0,0.0,0.0,4,0.0,NaN,0.0,0.0,0.0,69
0:38:37,0 vsO,0/0/0,00:23,2317984.0,0.0,NaN,0.0,0.0,0.0,2,0.0,0.0,0.0,0.0,0.0,66
0:38:39,0 vsO,0/0/0,00:25,2319984.0,0.0,NaN,0.0,0.0,0.0,6,0.0,0.0,0.0,0.0,0.0,67
0:38:40,OvsQ,0/0/0,00:26,2320984.0,NaN,NaN,0.0,0.0,0.0,6,0.0,0.0,0.0,0.0,0.0,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1:15:10,,14/5/17,36:56,4510984.0,NaN,NaN,14.0,5.0,17.0,2,36.0,0.0,0.0,0.0,0.0,17
1:15:11,,14/5/17,36:57,4511984.0,NaN,NaN,14.0,5.0,17.0,4,36.0,0.0,0.0,0.0,0.0,15
1:15:12,39 vs AZ,14/5/1),36:58,4512984.0,39.0,NaN,14.0,5.0,NaN,5,NaN,NaN,0.0,0.0,0.0,11
1:15:13,39 vs AZ,14/5/1),36:59,4513984.0,39.0,NaN,14.0,5.0,NaN,3,NaN,NaN,0.0,0.0,0.0,6
1:15:14,39 vs A?,14/5/17,37:00,4514984.0,39.0,NaN,14.0,5.0,17.0,3,36.0,0.0,0.0,0.0,0.0,3

In [283]:
gold=pd.DataFrame(datalist)

In [288]:
gold

            0          1
time
0:38:34        2314984.0
0:38:35        2315984.0
0:38:36        2316984.0
0:38:37        2317984.0
0:38:38        2318984.0
...       ...        ...
1:15:10  1811  4510984.0
1:15:11  1833  4511984.0
1:15:12  1835  4512984.0
1:15:13  1927  4513984.0
1:15:14  1929  4514984.0

[2201 rows x 2 columns]

In [285]:
gold['time']=gold[1].map(lambda x : str(datetime.timedelta(milliseconds=x-984)))

In [287]:
gold.set_index('time', inplace=True)

In [291]:
gold[0]=pd.to_numeric(gold[0], errors='coerce')

In [292]:
gold

              0          1
time
0:38:34     NaN  2314984.0
0:38:35     NaN  2315984.0
0:38:36     NaN  2316984.0
0:38:37     NaN  2317984.0
0:38:38     NaN  2318984.0
...         ...        ...
1:15:10  1811.0  4510984.0
1:15:11  1833.0  4511984.0
1:15:12  1835.0  4512984.0
1:15:13  1927.0  4513984.0
1:15:14  1929.0  4514984.0

[2201 rows x 2 columns]

In [348]:
gold.to_excel('gold.xlsx')

In [294]:
exdf['gold'] = gold[0]

In [349]:
exdf

,0,1,2,3,fr,en,k,d,a,count,kda,d_kda,d_k,d_d,d_a,n_chat,gold,d_gold
time,,,,,,,,,,,,,,,,,,
0:38:35,,0/0/0,00:21,2315984.0,NaN,NaN,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,67,NaN,NaN
0:38:36,0 vs 0,0/0/0,00:22,2316984.0,0.0,0.0,0.0,0.0,0.0,4,0.0,NaN,0.0,0.0,0.0,69,NaN,NaN
0:38:37,0 vsO,0/0/0,00:23,2317984.0,0.0,NaN,0.0,0.0,0.0,2,0.0,0.0,0.0,0.0,0.0,66,NaN,NaN
0:38:39,0 vsO,0/0/0,00:25,2319984.0,0.0,NaN,0.0,0.0,0.0,6,0.0,0.0,0.0,0.0,0.0,67,NaN,NaN
0:38:40,OvsQ,0/0/0,00:26,2320984.0,NaN,NaN,0.0,0.0,0.0,6,0.0,0.0,0.0,0.0,0.0,65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1:15:10,,14/5/17,36:56,4510984.0,NaN,NaN,14.0,5.0,17.0,2,36.0,0.0,0.0,0.0,0.0,17,1811.0,284.0
1:15:11,,14/5/17,36:57,4511984.0,NaN,NaN,14.0,5.0,17.0,4,36.0,0.0,0.0,0.0,0.0,15,1833.0,254.0
1:15:12,39 vs AZ,14/5/1),36:58,4512984.0,39.0,NaN,14.0,5.0,NaN,5,NaN,NaN,0.0,0.0,0.0,11,1835.0,200.0
1:15:13,39 vs AZ,14/5/1),36:59,4513984.0,39.0,NaN,14.0,5.0,NaN,3,NaN,NaN,0.0,0.0,0.0,6,1927.0,262.0
1:15:14,39 vs A?,14/5/17,37:00,4514984.0,39.0,NaN,14.0,5.0,17.0,3,36.0,0.0,0.0,0.0,0.0,3,1929.0,262.0

In [297]:
exdf['d_gold'] = pd.Series()

In [347]:
for i in range(len(exdf)):
    exdf['d_gold'][i] = exdf['gold'][i] - exdf['gold'][i-15]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [351]:
exdf['d_gold'][exdf['d_gold']<0] = np.nan

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [352]:
exdf['d_gold'][exdf['d_gold']>2000] = np.nan

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [350]:
exdf.to_excel('exdf.xlsx')

In [353]:
dataset = exdf[['d_kda','d_k','d_d','d_a','d_gold','n_chat']]

In [379]:
dataset.to_excel('dataset.xlsx')

In [377]:
dataset.describe()

,d_kda,d_k,d_d,d_a,d_gold,n_chat
count,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000
mean,0.282437,0.140032,0.044304,0.101266,0.134941,0.139241
std,0.714165,0.455645,0.205851,0.398967,0.137109,0.346334
min,0.000000,0.000000,0.000000,0.000000,0.021723,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.032772,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.091386,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.169288,0.000000
max,5.000000,5.000000,1.000000,3.000000,1.000000,1.000000

In [378]:
dataset

         d_kda  d_k  d_d  d_a    d_gold  n_chat
time
0:40:08    0.0  0.0  0.0  0.0  0.038951       0
0:40:09    0.0  0.0  0.0  0.0  0.519850       0
0:40:11    0.0  0.0  0.0  0.0  0.053933       0
0:40:14    0.0  0.0  0.0  0.0  0.058427       0
0:40:17    0.0  0.0  0.0  0.0  0.073408       0
...        ...  ...  ...  ...       ...     ...
1:15:08    0.0  0.0  0.0  0.0  0.176779       0
1:15:09    0.0  0.0  0.0  0.0  0.176779       0
1:15:10    0.0  0.0  0.0  0.0  0.212734       0
1:15:11    0.0  0.0  0.0  0.0  0.190262       0
1:15:14    0.0  0.0  0.0  0.0  0.196255       0

[1264 rows x 6 columns]

In [356]:
line = dataset['n_chat'].mean()+dataset['n_chat'].std()
print(line)

74.3221667794736

In [357]:
for i in range(len(dataset)):
    if dataset['n_chat'][i] > line :
        dataset['n_chat'][i] = 1
    else :
        dataset['n_chat'][i] = 0

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [370]:
dataset.dropna(axis=0, inplace=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [365]:
dataset.fillna(value=99999)

           d_kda  d_k  d_d  d_a   d_gold  n_chat
time
0:38:35      0.0  0.0  0.0  0.0  99999.0       0
0:38:36  99999.0  0.0  0.0  0.0  99999.0       0
0:38:37      0.0  0.0  0.0  0.0  99999.0       0
0:38:39      0.0  0.0  0.0  0.0  99999.0       0
0:38:40      0.0  0.0  0.0  0.0  99999.0       0
...          ...  ...  ...  ...      ...     ...
1:15:10      0.0  0.0  0.0  0.0    284.0       0
1:15:11      0.0  0.0  0.0  0.0    254.0       0
1:15:12  99999.0  0.0  0.0  0.0    200.0       0
1:15:13  99999.0  0.0  0.0  0.0    262.0       0
1:15:14      0.0  0.0  0.0  0.0    262.0       0

[1954 rows x 6 columns]

In [373]:
dataset['d_gold'] = dataset['d_gold']/dataset['d_gold'].max()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.